<template>
  <div>
    <script id="editor" type="text/plain" />
  </div>
</template>
<script>
export default {
  name: 'Ueditor',
  props: ['value', 'config'],
  data() {
    return {
      editor: null
    }
  },
  mounted() {
    const _this = this
    window.UE.delEditor('editor') // 删除重新加载，确保富文本正常显示
    this.editor = window.UE.getEditor('editor', this.config) // 初始化UE
    this.editor.addListener('ready', function() {
      _this.editor.setContent(_this.value) // 载完成后，放入内容
    })
  },
  methods: {
    getUEContent() { // 获取编辑器内容方法
      return this.editor.getContent()
    },
    destroyed() { // 销毁编辑器
      this.editor.destroy()
    }
  }
}
</script>
