
<template>
  <div class="main-div">
    <Row>
      <Col span="24">
        <Card dis-hover class="task-card">
          <div class="app-container">
            <el-form :inline="true" :model="queryForm" class="c-form-condensed" label-width="68px" inline size="mini">

              <el-form-item label="状态" prop="status">
                <el-select v-model="statusDefault" clearable>
                  <el-option v-for="item in statusList" :value="item.value" :label="item.label" />
                </el-select>
              </el-form-item>

              <el-form-item>
                <el-button type="primary" @click="search">查询</el-button>
                <el-button type="default" @click="reset">重置</el-button>
              </el-form-item>
            </el-form>
            <Modal
              v-model="addModel"
              :mask-closable="false"
              title="添加委托"
              :transfer="false"
              width="80%"
            >

              <!--              <div slot="footer"  v-if="addForm.id.length==0">-->
              <!--                <Button type="primary" @click="handleSubmit('addForm')">确定</Button>-->
              <!--                <Button @click="handleReset('addForm')">取消</Button>-->

              <!--              </div>-->

            </Modal>

            <el-row class="table_form">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    prop="name"
                    label="名称"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="modelKey"
                    label="流程key"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="status"
                    label="状态"
                    width="100"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <el-tag v-if="scope.row.defId==null || scope.row.defId==''" type="danger" class="tag">未发布</el-tag>
                      <el-tag v-else type="success" class="tag">已发布</el-tag>
                    </template>
                  </el-table-column>
                  <el-table-column
                    prop="version"
                    label="版本号"
                    width="100"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="description"
                    label="描述"
                    width="150"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="defId"
                    label="定义id"
                    width="100"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="mainProcess"
                    label="是否主版本"
                    width="100"
                    show-overflow-tooltip
                  >
                    <template slot-scope="scope">
                      <el-tag v-if="scope.row.mainProcess == '1'" type="error">是</el-tag>
                      <el-tag v-else type="primary">否</el-tag>
                    </template>
                  </el-table-column>

                  <el-table-column
                    prop="operate"
                    label="操作"
                  >

                    <template slot-scope="scope">
                      <!--                      <Button  type="primary" size="small"    @click="hisVersionDefDetail(scope.row)">明细</Button>-->
                      <Button v-if="scope.row.mainProcess=='0'" ghost size="small" type="success" @click="setVersion(scope.row.id)">设为主版本</Button>
                      <Button v-if="scope.row.mainProcess=='0'" ghost type="error" size="small" @click="del(scope.row.id)">删除</Button>
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total"
                @current-change="handleCurrentChange"
              />
            </el-row>
          </div>
        </Card>
      </Col>

    </Row>
    <Row>
      <Col span="24">
        <footer />
      </Col>
    </Row>
  </div>

</template>

<script>
import { getVersionManagerByKey, setModelerVersion, deleteModelerVersion } from '@/api/analy'
import Footer from '../../../common/footer'

export default {
  name: 'Task',
  components: {
    Footer
  },

  data() {
    return {
      tableData: [],
      tableHeight: 450,
      queryDate: [],
      total: 0,
      chartVisible: false,
      forbiddenSwitch: false,
      addModel: false,
      chartData: {},
      sellerId: 0,
      shopName: [],
      statusDefault: '',
      statusList: [
        { label: '未发布', value: '0' },
        { label: '已发布', value: '1' }
      ],
      queryForm: {
        modelKey: '',
        modelId: '',
        status: '',
        page: 0,
        limit: 10,
        type: 4
      },
      categoryData: [
      ]
    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    var query = this.$route.query
    this.queryForm.modelKey = query.modelKey
    this.getData()
  },
  methods: {
    setVersion: function(id) {
      this.queryForm.modelId = id
      setModelerVersion(this.queryForm).then((response) => {
        this.tableData = response.data

        this.total = parseInt(response.count)
        this.queryForm.modelId = ''
        this.getData()
      })
    },
    del: function(id) {
      var ids = []
      ids.push(id)
      deleteModelerVersion({ ids: ids }).then((response) => {
        if (response.code == 0) {
          this.getData()
        }
      })
    },
    hisVersionDefDetail: function(data) {
      this.addModel = true
    },
    queryFormCreateTime: function(e) {
      this.queryForm.tmpCreateTime = e
    },
    queryFormEndTime: function(e) {
      this.queryForm.tmpEndTime = e
    },
    queryMethod: function() {
      var name = this.queryForm.name
      var tmpCreateTime = this.queryForm.tmpCreateTime
      if (tmpCreateTime) {
        if (tmpCreateTime[0]) {
          this.queryForm.createTime = tmpCreateTime[0] + ' - ' + tmpCreateTime[1]
        }
      }
      getVersionManagerByKey(this.queryForm).then((response) => {
        this.tableData = response.data

        this.total = parseInt(response.count)
      })
    },

    getData: function() {
      getVersionManagerByKey(this.queryForm).then((response) => {
        this.tableData = response.data
        this.total = parseInt(response.count)
      })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    search() {
      this.queryForm.status = this.statusDefault
      this.getData()
      this.queryForm.status = ''
    },
    reset() {
      this.statusDefault = ''
    }

  }

}

</script>
<style lang="scss">
  .task-card{
    margin-top: 10px;
  }
  .c-form-condensed .el-form-item{
    margin-bottom: 3px;
    .el-input{
      max-width: 150px;
    }
  }
</style>
