<template>
  <div style="margin-top: 15px; min-height: 100%" class="main-div">
    <Spin v-show="isSpinShow" fix size="large" />

    <Card>
      <div slot="title">
        <div v-if="taskBtns.length > 0">
          <span v-for="item in taskBtns">
            <Button
              class="ivu-btn ivu-btn-success"
              style="margin-bottom: 2px; margin-right: 15px"
              @click="action(item)"
              >{{ item.btnName }}</Button
            >
          </span>
          <span>
            <Button
              v-if="!formIndex"
              type="primary"
              style="margin-bottom: 2px; margin-right: 15px"
              @click="go"
            >
              <Icon type="md-close" />关闭
            </Button>
          </span>
        </div>

        <span v-else>
          <Button
            type="primary"
            style="margin-bottom: 2px; margin-right: 15px"
            @click="action('startFlow')"
            >发起
          </Button>
          <Button
            type="primary"
            style="margin-bottom: 2px; margin-right: 15px"
            @click="action('saveDraft')"
            >保存
          </Button>
          <Button
            type="primary"
            style="margin-bottom: 2px; margin-right: 15px"
            @click="action('print')"
            >打印
          </Button>
          <Button
            v-if="!formIndex"
            type="primary"
            style="margin-bottom: 2px; margin-right: 15px"
            @click="go"
          >
            <Icon type="md-close" />关闭
          </Button>
        </span>
      </div>
      <Card>
        <div v-if="jsonData.config != null" class="container">
          <fm-generate-form
            ref="generateForm"
            :data="jsonData"
            :remote="remoteFuncs"
            :value="editData"
            :remote-option="dynamicData"
          />
        </div>
      </Card>
    </Card>
    <Modal
      v-model="flowImage.show"
      :mask-closable="false"
      title="流程图"
      width="85%"
      :transfer="false"
    >
      <iframe
        id="flowImageframe"
        width="100%"
        style="min-height: 600px"
        height="100%"
        frameborder="0"
        align="center"
        allowfullscreen="true"
        allow="autoplay"
        :src="flowImage.src"
      />
      <div slot="footer" />
    </Modal>
  </div>
</template>

<script>
import {
  loadWfModule,
  getStartBtn,
  renderStartForm,
  startDef,
  saveDraft,
} from "@/api/loadwfmodule";
import Footer from "../../../common/footer";

export default {
  name: "Task",
  components: {
    Footer,
  },
  props: {
    operateModelKey: {
      type: String,
      default: "",
    },
  },

  data() {
    return {
      tableData: [],
      jsonData: {},
      editData: {},
      remoteFuncs: {},
      singleUserData: {},
      dynamicData: {},
      sysTypeEntity: {},
      isSpinShow: true,
      taskBtns: [],
      modelKey: "",
      tableHeight: 450,
      formData_e: null,
      formIndex: false,
      startForm: {
        defId: "",
        modelId: 0,
        typeTitle: "",
        formData: "",
        groupId: "",
        typeKey: "",
        defKey: "",
      },
      flowImage: {
        show: false,
        src: "",
        base:
          process.env.VUE_APP_BASE_BPM_API +
          "/view/def.html?fireHoverAction=true&modelId=",
      },
    };
  },
  mount() {
    this.getData();
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop;
  },
  watch: {
    operateModelKey() {
      if (this.operateModelKey) {
        this.modelKey = this.operateModelKey;
        this.formIndex = true;
        this.getData();
      } else {
        this.jsonData = {};
        this.editData = {};
        this.formIndex = false;
        this.modelKey = "";
      }
      this.startForm.defKey = this.modelKey;
    },
    jsonData: {
      handler(newValue, oldValue) {
        if (newValue) {
          this.getFormData();
        }
      },
      deep: true,
    },
  },
  created: function () {
    var query = this.$route.query;
    if (query.modelKey) {
      this.modelKey = query.modelKey;
    } else {
      if (this.operateModelKey) {
        this.formIndex = true;
        this.modelKey = this.operateModelKey;
      }
    }
    this.startForm.defKey = this.modelKey;
    this.getData();
  },
  methods: {
    action: function (action) {
      if (typeof action === "object") {
        this.alias = action.alias;
      } else {
        this.alias = action;
      }

      switch (this.alias) {
        case "startFlow": // 启动
          this.startFlow();
          break;
        case "flowImage":
          this.flowImageAction();
          break;
        case "print":
          window.print();
          break;
        case "saveDraft":
          this.saveDraft();
          break;
        default:
      }
    },
    flowImageAction: function () {
      this.flowImage.src =
        this.flowImage.base +
        this.startForm.modelId +
        "&t=" +
        new Date().getTime();
      this.flowImage.show = true;
    },
    startFlow: function () {
      this.getFormData();
      const that = this;
      if (this.$refs.generateForm) {
        this.$refs.generateForm
          .getData()
          .then((data) => {
            this.startForm.formData = JSON.stringify(data);
            this.formData_e = null;

            startDef(that.startForm).then((response) => {
              if (response.code == 0) {
                that.go();
              }
            });
          })
          .catch((e) => {
            this.$message({
              duration: "800",
              message: "表单校验不通过",
              type: "warning",
              customClass: "zZindex",
            });
          });
      }
    },

    async saveDraft() {
      var formData = {};
      const get = () => {
        return new Promise((resolve) => {
          formData = this.getFormData();
          resolve(formData);
        });
      };

      await get();
      const that = this;
      var obj = JSON.parse(JSON.stringify(this.startForm));
      obj["formDataStr"] = obj["formData"];
      delete obj["formData"];

      saveDraft(obj).then((response) => {
        if (response.code == 0) {
          that.$message({
            duration: "800",
            message: "保存成功",
            type: "success",
            customClass: "zZindex",
          });
          that.go();
        }
      });
    },

    getFormData: function () {
      if (this.$refs.generateForm) {
        this.$refs.generateForm
          .getData()
          .then((data) => {
            this.startForm.formData = JSON.stringify(data);
            this.formData_e = null;
            return data;
          })
          .catch((e) => {
            this.formData_e = e;
          });
      }
    },
    go: function () {
      if (this.formIndex) {
        this.jsonData = {};
        this.editData = {};
        this.formIndex = false;
        // 首页过来的
        this.$emit("closeEvent", true);
      } else {
        this.$store.dispatch("tagsView/delView", this.$route);
        this.$router.go(-1);
      }
    },
    start: function (item) {
      this.$router.push({
        name: "handleHisTaskDetails",
        query: { t: new Date().getTime() },
      });
    },
    loadWfModule: function () {
      loadWfModule().then((response) => {
        this.tableData = response.data;
      });
    },
    getData: function () {
      getStartBtn(this.modelKey).then((response) => {
        this.taskBtns = response.data;
        this.startForm.defId = response.defId;
        this.startForm.modelId = response.modelId;
        if (response.sysTypeEntity) {
          this.startForm.typeTitle = response.sysTypeEntity.title;
          this.startForm.groupId = response.sysTypeEntity.id;
          this.startForm.typeKey = response.sysTypeEntity.typeKey;
        }

        renderStartForm(this.startForm.defId).then((response) => {
          if (response.code == 0) {
            this.jsonData = JSON.parse(response.data);
            if (response.editData) {
              this.editData = JSON.parse(response.editData);
            }
          } else {
            this.go();
          }
        });

        this.isSpinShow = false;
        this.$nextTick(() => {});
      });
    },
  },
};
</script>
<style lang="scss" scoped>
.task-card {
  margin-top: 10px;
}

.item {
  display: block;
  width: 311px;
  float: left;
  margin-left: 20px;
  box-shadow: 0 0 20px 0 rgba(204, 207, 227, 0.45);
  margin-bottom: 10px;
}

.left {
  font-size: 16px;
  color: #575757;
}

img {
  width: 60px;
  height: 60px;
}

.container {
  height: auto !important;
  min-height: 1650px;
}
.zZindex {
  z-index: 3000 !important;
}
</style>
