<template>
  <div class="main-div">
    <Row>
      <Col span="24">

        <role-tree
          :on-ok="confirmDialogEvent"
          :show.sync="show"
          :role-code="roleCode"
        />

        <Card dis-hover class="task-card">
          <div class="app-container">
            <el-row type="flex" justify="start" style="margin-left: -14px">
              <el-form :inline="true" :model="queryForm" class="demo-form-inline" label-width="80px" inline size="mini">
                <el-form-item label="角色名称">
                  <el-input v-model="queryForm.name" clearable />
                </el-form-item>
                <el-form-item>
                  <el-button type="primary" @click="search">查询</el-button>
                  <el-button type="default" @click="reset">重置</el-button>
                </el-form-item>
              </el-form>
            </el-row>

            <el-button type="primary" style="margin-bottom: 10px" @click="add">
              <Icon type="ios-add" />
              添加
            </el-button>
            <el-row class="margin:30px;">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    prop="name"
                    label="角色名称"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="code"
                    label="别名"
                  />
                  <el-table-column
                    prop="description"
                    label="备注"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="createTime"
                    label="创建时间"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="createTime"
                    label="操作"
                  >
                    <template slot-scope="scope">
                      <el-button size="mini" type="text" @click="addResource(scope.row)">资源授权</el-button>
                      <el-button size="mini" type="text" icon="el-icon-edit" @click="edit(scope.row)" />
                      <el-button size="mini" type="text" icon="el-icon-delete" @click="deleted(scope.row)" />
                      <el-button size="mini" type="text" icon="el-icon-user" @click="userList(scope.row)" />
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total"
                @current-change="handleCurrentChange"
              />
            </el-row>
          </div>
        </Card>
      </Col>

    </Row>
    <Row>
      <Col span="24">
        <footer />
      </Col>
    </Row>
  </div>

</template>

<script>
import { getAllRole, removeRole, updateMenu } from '@/api/uc'
import Footer from '../../../common/footer'
import roleTree from '@/views/uc/common/roleTree'

export default {
  name: 'Task',
  components: {
    roleTree
  },

  data() {
    return {
      tableData: [],
      tableHeight: 450,
      queryDate: [],
      total: 0,
      show: false,
      forbiddenSwitch: false,
      chartData: {},
      sellerId: 0,
      shopName: [],
      queryForm: {
        page: 0,
        limit: 10,
        name: ''
      },
      roleCode: '',
      categoryData: []
    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    this.getData()
  },
  methods: {
    addResource: function(data) {
      this.roleCode = data.code

      this.show = true
    },
    confirmDialogEvent: function(datas) {
      var data = {}
      data['code'] = this.roleCode
      if (datas.length > 0) {
        var newDatas = datas.map(x => {
          return x.menuId
        }) // 生成数组
        var ids = newDatas.join(',')
        data['ids'] = ids
        updateMenu(data).then((response) => {
          this.$message({ 'duration': 800, message: '操作成功', type: 'warning', customClass: 'zZindex' })

          this.show = false
        })
      }
    },
    userList: function(data) {
      this.$router.push({ name: 'role_userList', query: { t: new Date().getTime(), code: data.code }})
    },
    deleted: function(data) {
      var ids = []
      ids.push(data.id)
      removeRole({ ids: ids }).then((response) => {
        if (response.code == 0) {
          this.getData()
        } else {
          this.$message({ message: response.msg, type: 'warning', customClass: 'zZindex' })
        }
      })
    },
    edit: function(data) {
      this.$router.push({ name: 'role_add', query: { t: new Date().getTime(), id: data.id }})
    },
    add: function() {
      this.$router.push({ name: 'role_add', query: { t: new Date().getTime() }})
    },
    queryFormCreateTime: function(e) {
      this.queryForm.tmpCreateTime = e
    },
    queryFormEndTime: function(e) {
      this.queryForm.tmpEndTime = e
    },

    getData: function() {
      getAllRole(this.queryForm).then((response) => {
        this.tableData = response.data
        this.total = parseInt(response.count)
      })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    search() {
      this.queryForm.page = 0
      this.getData()
    },
    reset() {
      this.queryForm.name = ''
      this.getData()
    }

  }

}

</script>
<style lang="scss" scoped>
  .main-div {
    background-color: #f3f3f3!important;
  }
  .task-card {
    margin-top: 10px;
  }

  .ivu-input-with-suffix {
    padding-right: 0px !important;
  }

</style>
