<!-- 房源录入 -->
<template>
  <div id="myMain">
    <div class="myMain-padding mt0" v-if="!alertVal">
      <Index-Table
        @alertfun="myAlert"
        @search="triggerSearch"
        ref="indexTable"
      ></Index-Table>
    </div>
    <div v-if="alertVal">
      <div class="tabbar">
        <el-tabs class="tabs" v-model="activeTab" @tab-click="handleClick">
          <el-tab-pane label="基本信息" name="basic">
            <Input-Table2 ref="Table2"></Input-Table2>
          </el-tab-pane>
          <el-tab-pane label="房屋信息" name="house">
            <Input-Table1 ref="Table1" :showTopBar="true"></Input-Table1>
          </el-tab-pane>
        </el-tabs>
        <div
          style="width: 100%; text-align: right; margin-top: 214px;"
          @click="next"
        >
          <div
            style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
          >
            {{ activeTab == "basic" ? "下一步" : "完成" }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  getHouseInputInfo,
  putHouseInputInfo,
  addHouseInputInfo,
  getHouseInputInfoById,
} from "@/api/house";
import IndexTable from "@/views/house/info/indexTable.vue";
import InputTable1 from "@/components/houseInfoTable/table1.vue";
import InputTable2 from "@/components/houseInfoTable/table2.vue";
import InputTable3 from "@/components/houseInfoTable/table3.vue";
import pub from "@/views/house/info/Input/public.js";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    IndexTable,
    InputTable1,
    InputTable2,
    InputTable3,
  },
  data() {
    //这里存放数据
    return {
      //弹窗
      isOption: 0, // 录入可编辑1，录入查看2，接收编辑3，接收查看4
      alertVal: false,
      fileList: [],
      disabledVal0: false,
      isAdd: null,
      activeTab: "basic",
      tbHousing: {},
      tbPlot: {},
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {
    "$route.path": (cur, prev) => {
      console.log("watch $route", cur, prev);
    },
  },
  //方法集合
  methods: {
    triggerSearch(data) {
      console.log("triggerSearch", data);
      this.init({}, 1, 10, data.plotName, data.unit);
    },
    async getDetailById(id) {
      let res = await getHouseInputInfoById(id);
      console.log("getDetailById", res);
      return res;
    },
    async myAlert(data) {
      console.log("myAlert", data);
      this.alertVal = data.alertVal;
      this.isOption = data.isOption;

      if (this.isOption == 0) {
        console.log("if (this.isOption == 0)");
        await this.$nextTick(async () => {
          this.$refs.Table1.getData(this.isOption, null);
        });
      } else {
        console.log("if (this.isOption == 1)");
        await this.$nextTick(async () => {
          let res = await this.getDetailById(data.rowId);
          this.$refs.Table2.getData(res.tbPlot);
          this.$refs.Table1.getData(data.isOption, res);
          console.log("aaaaaaa", this.$refs.Table2);
        });
      }
    },
    init(params, page, limit, plotName, unit) {
      // 房源录入
      console.log("init", params, page, limit, plotName, unit);
      getHouseInputInfo(params, page, limit, plotName, unit).then((res) => {
        // console.log("房源录入", res)
        if (res.code == 0) {
          this.$refs.indexTable.init(res);
        } else {
          this.$message({ type: "success", message: "暂无数据!" });
        }
      });
    },
    // 弹窗-手动关闭
    close() {
      this.alertVal = false;
      this.fileList = [];
    },
    async next() {
      let validBasicForm = null;
      let validTotalDetailForm = null;
      let validTable = null;
      // console.log("valid", validBasicForm, validTotalDetailForm, validTable);

      if (this.activeTab == "basic") {
        validBasicForm = this.$refs.Table2.basicFormValidator();
        if (!validBasicForm) return;
        this.activeTab = "house";
      } else {
        if (this.isOption == 2) {
          this.init();
          this.activeTab = "basic";
          this.alertVal = false;
          return;
        }
        validTotalDetailForm = this.$refs.Table1.totalDetailFormValidator();
        validTable = await this.$refs.Table1.tableValidator();

        // console.log("validTotalDetailForm", validTotalDetailForm);
        // console.log("validTable1111", validTable);

        if (!validTotalDetailForm || !validTable) return;

        this.tbPlot = {
          ...this.$refs.Table2.basicForm,
          ...this.$refs.Table1.totalDetailForm,
        };
        this.tbHousing = this.$refs.Table1.tableData;

        if (this.isOption == 1) {
          let data = await putHouseInputInfo({
            tbHousing: this.tbHousing,
            tbPlot: this.tbPlot,
          });
        }
        if (this.isOption == 0) {
          let data = await addHouseInputInfo({
            tbHousing: this.tbHousing,
            tbPlot: this.tbPlot,
          });
        }
        this.init();
        // console.log("picList", this.$refs.Table2.picList);
        this.activeTab = "basic";
        this.alertVal = false;
      }
    },
    save() {
      console.log("save......");
      let validateVal = this.$refs.Table2.myvalidate();
      if (validateVal) {
        this.$confirm("是否保存该数据表?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(() => {
          // 主动获取 table1 table2 table3 的数据表
          let tbHousing = this.$refs.Table1.tableData1;
          let tableData2 = this.$refs.Table2.tableData2;
          let fileList2 = this.$refs.Table2.fileList2;
          let tableData3 = this.$refs.Table3.tableData3;
          if (this.isAdd == 0) {
            for (let a = 0; a < tbHousing.length; a++) {
              tbHousing[a].id = 0;
            }
            tableData3[0].id = this.$refs.Table3.rowId;
          } else {
            for (let a = 0; a < tbHousing.length; a++) {
              tbHousing[a].id = 0;
            }
            tableData3[0].id = 0;
          }
          let tbPlot = Object.assign(tableData2[0], tableData3[0]);
          // 图片处理 -- fileList2-plotImg
          let arr3 = [];
          fileList2.forEach((ele) => {
            arr3.push(ele.url);
          });
          tbPlot.plotImg = arr3.join(",");
          // 附件处理
          let arr0 = [];
          let arr1 = [];
          this.fileList.forEach((ele) => {
            arr0.push(ele.name);
            arr1.push(ele.url);
          });
          tbPlot.accessoryName = arr0.join(",");
          tbPlot.accessory = arr1.join(",");
          let allData = { tbHousing: tbHousing, tbPlot: tbPlot };
          console.log("allData111111111", allData, this.isAdd);
          if (this.isAdd == 0) {
            // 房屋录入修改
            putHouseInputInfo(allData).then((res) => {
              console.log("edit res", res);
              this.$message({ type: "success", message: "修改成功!" });
              this.alertVal = false;
              this.init(1, 10);
            });
          } else {
            // 房屋录入新增
            addHouseInputInfo(allData).then((res) => {
              console.log("add res", res);
              this.$message({ type: "success", message: "保存成功!" });
              this.alertVal = false;
              this.init(1, 10);
            });
          }
        });
      } else {
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      }
    },
    // 上传列表的控制
    handleChange(file, fileList) {
      this.fileList = fileList.slice(-3);
    },
    handleAvatarSuccess0(res, file) {
      console.log("res", res);
      res.data.forEach((ele) => {
        this.fileList.push({ url: ele });
      });
    },
    handleClick() {},
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    const nodes = document.querySelector(".el-breadcrumb").children;
    console.log("房源录入", nodes);
    this.init({}, 1, 10, "", "");
    // pub.$on("rowData", (data) => {
    //   console.log("xxxxx", data.rowData);
    //   this.$refs.Table2.basicForm = data.rowData;
    // });
    // 接收 table1 传的信息
    pub.$on("tbPlotInfo", (data) => {
      this.isAdd = data.isAdd;
      if (data.isAdd == 0 && data.tbPlot.accessoryName != null) {
        //不是新增
        this.fileList = [];
        let names = data.tbPlot.accessoryName.split(",");
        let urls = data.tbPlot.accessory.split(",");
        for (let i = 0; i < names.length; i++) {
          this.fileList.push({ name: names[i], url: urls[i] });
        }
      }
    });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}

::v-deep.vxe-radio-group {
  width: 100%;
  display: flex;
}

::v-deep.vxe-radio {
  flex: 1;
}

::v-deep.vxe-radio-button > input:checked + .vxe-radio--label {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #505976;
  border-color: #505976;
}

::v-deep.vxe-radio-button > input:hover + .vxe-radio--label {
  width: 100%;
  text-align: center;
  color: "none" !important;
}

::v-deep.vxe-radio-button .vxe-radio--label {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #505976;
  background-color: #fff;
  border: 1px solid rgba(80, 89, 118, 100);
}

::v-deep.vxe-radio-button .vxe-radio--label:nth-child(1) {
  border-left: 0;
  border-right: 0;
}

::v-deep .el-tabs__active-bar {
  background-color: #568ce6;
  height: 4px;
}

::v-deep .el-tabs__item.is-active {
  font-family: SourceHanSansSC-regular;
  color: #484848;
  font-size: 18px !important;
}

::v-deep .el-tabs__item {
  font-family: SourceHanSansSC-regular;
  color: #a3a3a3;
  font-size: 18px !important;
}
</style>
