
<template>
  <div class="main-div">
    <Row>
      <Col span="24">
        <iframe
          id="iframe"
          width="100%"
          style="min-height: 800px"
          height="100%"
          frameborder="0"
          align="center"
          scrolling="yes"
          allowfullscreen="true"
          allow="autoplay"
          :src="cockpit.src"
        />
      </Col>
    </Row>
  </div>

</template>

<script>
import { getTaskData, getTaskChartData, getBpmnModelCategory } from '@/api/analy'
import { getAllDef } from '@/api/cockpit'
import Footer from '../../../common/footer'

export default {
  name: 'Task',
  components: {
    Footer
  },

  data() {
    return {
      cockpit:
          {
            show: false,
            src: '',
            base: process.env.VUE_APP_BASE_BPM_API
          },
      processefinitionId: ''
    }
  },
  mount() {
  },
  created() {
    var query = this.$route.query
    this.processefinitionId = query.processefinitionId
    this.cockpit.src = this.cockpit.base + '/cockpit/historyDef.html?type=historyProcess&processefinitionId=' + this.processefinitionId + '&t=' + new Date().getTime()
  },
  methods: {}

}

</script>
<style lang="scss">
.task-card{
  margin-top: 10px;
}

</style>
