<!-- 审核详情 -->
<template>
  <div id="myMain" class="pr0">
    <div class="f1 displayFlexR" style="position: relative;">
      <div class="tabbar pt20">
        <Input-Table1 ref="Table1"></Input-Table1>
        <el-divider></el-divider>
        <Input-Table1 ref="Table2"></Input-Table1>
        <!-- <div
          style="width: 100%; text-align: right; margin-top: 214px;"
          @click="next"
        >
          <div
            style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
          >
            {{ activeTab == "basic" ? "下一步" : "完成" }}
          </div>
        </div> -->
      </div>

      <div
        v-if="true"
        class="myPadding myBR myRight mt20 ml20"
        style=" background-color: white; width: 335px; height: 900px;"
      >
        <p class="baseBG hh myBR">当前处理人： xxx</p>
        <el-checkbox-group v-model="checkList">
          <el-checkbox label="同意"></el-checkbox>
          <el-checkbox label="不同意"></el-checkbox>
        </el-checkbox-group>
        <el-radio-group v-model="checkList">
          <el-radio label="知会"></el-radio>
          <el-radio label="审核"></el-radio>
          <el-radio label="复核"></el-radio>
          <el-radio label="不同意"></el-radio>
        </el-radio-group>

        <p
          class="baseBG hh myBR"
          style="text-align: center;margin-top:10px;"
          @click="add"
        >
          加签
        </p>
        <p>处理意见：</p>
        <el-input
          type="textarea"
          v-model="textarea"
          rows="3"
          placeholder="请输入处理意见"
        ></el-input>
        <p>历史处理意见：</p>
        <el-timeline>
          <el-timeline-item placement="top">
            <!-- <el-timeline-item :timestamp="formData.time" placement="top"> -->
            <div>
              <p>发起人： xxx 2021-09-01</p>
              <p>处理结果： 同意</p>
            </div>
          </el-timeline-item>
          <el-timeline-item placement="top">
            <!-- <el-timeline-item :timestamp="formData.time" placement="top"> -->
            <div>
              <p>发起人： xxx 2021-09-01</p>
              <p>处理结果： 同意</p>
            </div>
          </el-timeline-item>
        </el-timeline>
        <div class="btn">
          <el-button class="baseBG" @click="submit">确认</el-button>
          <el-button @click="cancel">取消</el-button>
        </div>
      </div>
    </div>
    <vxe-modal
      v-model="alertVal1"
      title="请选择"
      width="40%"
      height="50%"
      show-footer
      @confirm="confirmEvent"
    >
      <template #default>
        <tree-transfer
          :title="['所有的部门人员', '已选的部门人员']"
          :from_data="fromData"
          :to_data="toData"
          :defaultProps="{ label: 'label', children: 'children' }"
          @addBtn="add2"
          @removeBtn="remove"
          :mode="mode"
          :pid="parentId"
          filter
          openAll
        >
        </tree-transfer>
      </template>
    </vxe-modal>
    <vxe-modal
      v-model="alertVal2"
      title="加签"
      width="35%"
      show-footer
      @confirm="confirmEvent2('ruleForm2')"
    >
      <template #default>
        <el-form
          :model="formData2"
          :rules="rules2"
          ref="ruleForm2"
          label-width="130px"
          class="demo-ruleForm"
        >
          <el-form-item label="请选择人员:" prop="name" required>
            <el-input v-model="formData.name"></el-input>
          </el-form-item>
          <el-form-item label="设置节点权限:" prop="b" required>
            <el-input v-model="formData.b"></el-input>
          </el-form-item>
          <el-form-item label="流程模式:" prop="c" required>
            <el-radio-group v-model="formData.c" size="mini">
              <el-radio label="1" border>
                并发
                <!-- <img src="~@/assets/img/bing.png"> -->
              </el-radio>
              <el-radio label="2" border>
                串发
                <!-- <img src="~@/assets/img/chuan.png"> -->
              </el-radio>
              <el-radio label="3" border>
                与下一节点并发
                <!-- <img src="~@/assets/img/xiabing.png"> -->
              </el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="加签节点处理后:" prop="c" required>
            <el-radio-group v-model="formData.c" size="mini">
              <el-radio label="1">流程回到我</el-radio>
              <el-radio label="2">流程回到发起人</el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="处理期限:" prop="b" required>
            <el-input v-model="formData.b"></el-input>
          </el-form-item>
          <el-form-item label="提醒前提:" prop="b" required>
            <el-input v-model="formData.b"></el-input>
          </el-form-item>
        </el-form>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import InputTable1 from "@/components/houseInfoTable/table1.vue";
import InputTable2 from "@/components/houseInfoTable/table2.vue";
import treeTransfer from "el-tree-transfer";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    InputTable1,
    InputTable2,
    treeTransfer,
  },
  data() {
    //这里存放数据
    return {
      activeTab: "basic",
      textarea: "",
      checkList: [],
      formData: {},
      alertVal1: false,
      // 穿梭框
      parentId: "parentId",
      mode: "transfer", //设置模式，字段可选值为transfer|addressList 类型：String 必填：false 补充：mode默认为transfer模式，即树形穿梭框模式，可配置字段为addressList改为通讯录模式，通讯录模式时按钮不可自定义名字，如要自定义标题名在title数组传入四个值即可，addressList模式时标题默认为通讯录、收件人、抄送人、密送人
      fromData: [
        {
          id: "1",
          parentId: 0,
          label: "广州市城市建设事务中心",
          children: [
            {
              id: "1-1",
              parentId: "1",
              label: "安置部",
              children: [
                {
                  id: "1-1-1",
                  parentId: "1-1",
                  children: [],
                  label: "小李",
                },
                {
                  id: "1-1-2",
                  parentId: "1-1",
                  children: [],
                  label: "丽丽",
                },
              ],
            },
            {
              id: "1-2",
              parentId: "1",
              label: "安置部",
              children: [
                {
                  id: "1-2-1",
                  parentId: "1-2",
                  children: [],
                  label: "小李",
                },
                {
                  id: "1-2-2",
                  parentId: "1-2",
                  children: [],
                  label: "丽丽",
                },
              ],
            },
          ],
        },
      ],
      toData: [],
      // 权限
      alertVal2: false,
      formData2: {
        name: null,
      },
      rules2: {
        name: [{ required: true, message: "请输入", trigger: "blur" }],
      },
      currentRoute: null,
      // 入库房源修改审批详情
      isShow: false,
      explain: null,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    add() {
      // 加签
      this.alertVal1 = true;
    },
    // 监听穿梭框组件添加
    add2(fromData, toData, obj) {
      console.log("fromData:", fromData);
      console.log("toData:", toData);
      console.log("obj:", obj);
    },
    // 监听穿梭框组件移除
    remove(fromData, toData, obj) {
      console.log("fromData:", fromData);
      console.log("toData:", toData);
      console.log("obj:", obj);
    },
    submit() {
      if (this.checkList != "") {
        console.log("this.checkList", this.checkList);
      } else {
        this.$message.error("请选择同意或者不同意！");
      }
    },
    cancel() {
      this.$router.go(-1);
    },
    confirmEvent() {
      // 弹出==具体加签权限
      this.alertVal2 = true;
    },
    confirmEvent2(formName) {
      // 提交加签操作
      this.$refs[formName].validate((valid) => {
        if (valid) {
          //
        } else {
          console.log("失败");
        }
      });
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    // 获取当前路由
    this.currentRoute = this.$route.path;
    if (this.currentRoute == "/house/layout_info/house_info_approval_details") {
      // 房源信息审核详情
      this.isShow = false;
      setTimeout(() => {
        this.$refs.Table01.getData(0, "房源信息接收表");
      }, 100);
    } else if (
      this.currentRoute ==
      "/house/layout_Warehouse/house_warehouse_approve_details"
    ) {
      // 入库审核详情
      this.isShow = false;
      setTimeout(() => {
        this.$refs.Table01.getData(0, "房源入库申请表");
      }, 100);
    } else {
      // 入库房源修改审批详情
      this.isShow = true;
      setTimeout(() => {
        this.$refs.Table01.getData(0, "入库房源信息修改表");
        this.$refs.Table02.getData(0, "入库房源信息修改表");
      }, 100);
    }
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类

.myRight {
  // 线的颜色
  ::v-deep.el-timeline-item__tail {
    border-left: 2px solid #28567f;
  }
  // 圆点颜色
  ::v-deep.el-timeline-item__node {
    background-color: #28567f;
  }
  ::v-deep.person {
    width: auto !important;
  }
  ::v-deep .el-radio-group {
    margin: 2vh 0;
    text-align: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
::v-deep.el-timeline {
  padding-left: 0;
}

::v-deep.el-radio__input.is-checked .el-radio__inner::after {
  -webkit-transform: rotate(45deg) scaleY(1);
  transform: rotate(45deg) scaleY(1);
}
::v-deep .el-radio__inner::after {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  content: "";
  border: 1px solid #fff;
  border-left: 0;
  border-top: 0;
  height: 7px;
  left: 4px;
  position: absolute;
  top: 1px;
  -webkit-transform: rotate(45deg) scaleY(0);
  transform: rotate(45deg) scaleY(0);
  width: 3px;
  -webkit-transition: -webkit-transform 0.15s ease-in 0.05s;
  transition: -webkit-transform 0.15s ease-in 0.05s;
  transition: transform 0.15s ease-in 0.05s;
  transition: transform 0.15s ease-in 0.05s,
    -webkit-transform 0.15s ease-in 0.05s;
  transition: transform 0.15s ease-in 0.05s,
    -webkit-transform 0.15s ease-in 0.05s;
  -webkit-transform-origin: center;
  transform-origin: center;
}

::v-deep .el-radio__inner {
  border-radius: 0;
}
.tabbar {
  // height: 100%;
  width: 70%;
  margin-top: 20px;
  padding: 0 20px;
  background-color: #fff;
  overflow: hidden;

  .tabs {
    margin-top: 10px;
  }
}

::v-deep .vxe-modal--wrapper .vxe-modal--header {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
</style>
