<!-- 房源建册 -->
<template>
  <div id="myMain">
    <div class="myMain-padding displayFlexC mt0" v-if="!hideTable">
      <div class="table-top jcsb">
        <div>
          <span class="searchLabel fl">小区名称：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.plotName"
            placeholder="单行输入"
          ></el-input>
          <span class="searchLabel fl">开发单位：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.unit"
            placeholder="单行输入"
          ></el-input>
          <vxe-button class="h40 plusBtn inputMargin" @click="handleSearch">
            搜索
          </vxe-button>
        </div>

        <div>
          <vxe-button class="fr plusBtn h40" @click="add(3)"
            ><i class="vxe-icon--plus"></i> 发起入库</vxe-button
          >
          <vxe-button class="fr plusBtn inputMargin h40" @click="add(2)"
            ><i class="vxe-icon--plus"></i> 房屋修改</vxe-button
          >
          <vxe-button class="fr plusBtn h40" @click="add(1)"
            ><i class="vxe-icon--plus"></i> 小区修改</vxe-button
          >
          <vxe-button class="fr inputMargin h40" @click="exportDataEvent"
            ><i class="vxe-icon--download"></i> 导出</vxe-button
          >
        </div>
      </div>
      <!-- :export-config="{}" -->
      <!-- :checkbox-config="{ reserve: true }" -->
      <div class="myTable f1">
        <vxe-table
          ref="xTable"
          :radio-config="{ strict: false }"
          :data="tableData"
          resizable
          auto-resize
          align="center"
          row-id="id"
          :seq-config="{
            startIndex: (tablePage.currentPage - 1) * tablePage.pageSize,
          }"
        >
          <vxe-table-column type="radio"></vxe-table-column>
          <vxe-table-column
            width="50"
            type="seq"
            title="序号"
          ></vxe-table-column>
          <vxe-table-column width="90" field="lotName" title="地块名称">
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column width="130" field="holdArea" title="面积（平方米）">
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column
            width="130"
            field="planTotal"
            title="规划设计总套数"
          >
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column
            width="120"
            field="realityTotal"
            title="实际设计总套数"
          >
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column width="80" field="c" title="1房">
            <template #default="{ row }">
              <p @click="check(row)">
                {{ row.name == "一房" ? row.typeCount : "无" }}
              </p>
            </template>
          </vxe-table-column>
          <vxe-table-column width="80" field="c" title="1房1厅">
            <template #default="{ row }">
              <p @click="check(row)">
                {{ row.name == "一房一厅" ? row.typeCount : "无" }}
              </p>
            </template>
          </vxe-table-column>
          <vxe-table-column width="80" field="c" title="1房2厅">
            <template #default="{ row }">
              <p @click="check(row)">
                {{ row.name == "一房二厅" ? row.typeCount : "无" }}
              </p>
            </template>
          </vxe-table-column>
          <vxe-table-column width="80" field="c" title="2房1厅">
            <template #default="{ row }">
              <p @click="check(row)">
                {{ row.name == "二房一厅" ? row.typeCount : "无" }}
              </p>
            </template>
          </vxe-table-column>
          <vxe-table-column width="80" field="c" title="2房2厅">
            <template #default="{ row }">
              <p @click="check(row)">
                {{ row.name == "二房二厅" ? row.typeCount : "无" }}
              </p>
            </template>
          </vxe-table-column>
          <vxe-table-column width="80" field="c" title="3房1厅">
            <template #default="{ row }">
              <p @click="check(row)">
                {{ row.name == "三房一厅" ? row.typeCount : "无" }}
              </p>
            </template>
          </vxe-table-column>
          <vxe-table-column width="80" field="c" title="3房2厅">
            <template #default="{ row }">
              <p @click="check(row)">
                {{ row.name == "三房二厅" ? row.typeCount : "无" }}
              </p>
            </template>
          </vxe-table-column>
          <vxe-table-column width="80" field="c" title="4房以上">
            <template #default="{ row }">
              <p @click="check(row)">
                {{ row.name == "一房" ? row.typeCount : "无" }}
              </p>
            </template>
          </vxe-table-column>
          <vxe-table-column
            width="110"
            field="appointTime"
            title="合同约定时间"
          >
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column width="110" field="becTime" title="实际竣工时间">
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column
            width="130"
            field="planTime"
            title="预计实物移交时间"
          >
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column width="110" field="c" title="预留房源项目">
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column width="80" field="reservedArea" title="预留面积">
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column width="80" field="c" title="说明">
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column width="80" field="plotName" title="小区名称">
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column width="80" field="unit" title="录入单位">
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column width="110" field="c" title="房源需求申请">
            <!-- <template #default="{ row }">
              <p @click="check(row)">{{ row.name }}</p>
            </template> -->
          </vxe-table-column>
          <vxe-table-column title="操作" width="80">
            <template #default="{ row }">
              <vxe-button
                type="text"
                icon="el-icon-delete"
                title="删除"
                class="my_danger_btn"
                @click="del(row)"
              ></vxe-button>
            </template>
          </vxe-table-column>
        </vxe-table>
        <!-- 分页 -->
        <vxe-pager
          class="paginationBlock"
          size="mini"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :page-sizes="tablePage.pageSizes"
          :total="tablePage.totalResult"
          @page-change="pageChange"
          :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
        >
        </vxe-pager>
      </div>
    </div>

    <div v-if="putInStorage">
      <div class="tabbar">
        <el-tabs class="tabs" v-model="activeTab">
          <el-tab-pane label="基本信息" name="basic">
            <input-Table2 ref="Table2"></input-Table2>
          </el-tab-pane>
          <el-tab-pane label="房屋信息" name="house">
            <input-Table1 ref="Table1"></input-Table1>
          </el-tab-pane>
        </el-tabs>
        <div
          style="width: 100%; text-align: right; margin-top: 214px;"
          @click="next"
        >
          <div
            style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
          >
            {{ activeTab == "basic" ? "下一步" : "发布审核" }}
          </div>
        </div>
      </div>
    </div>

    <div class="tabbar" v-if="editPlotMsg">
      <inputTable2></inputTable2>
      <el-divider content-position="left"></el-divider>
      <inputTable2 ref="Table2"></inputTable2>
      <div class="editionExplain">
        <div>修改说明：</div>
        <el-input
          type="textarea"
          v-model="explain1"
          rows="3"
          style="width: 500px;"
          placeholder="请输入修改说明"
        ></el-input>
      </div>

      <div
        style="width: 100%; text-align: right; margin-top: 20px;"
        @click="next"
      >
        <div
          style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
        >
          发布审核
        </div>
      </div>
    </div>

    <!-- <div> -->
    <div class="tabbar mt78 pt20" v-if="editHouseMsg">
      <el-button
        class="floatButton"
        size="small"
        icon="el-icon-plus"
        type="primary"
        @click="openPlotModal"
      >
        绑定房屋
      </el-button>
      <div>
        <inputTable1 ref="Table01" :showTopBar="false"></inputTable1>
        <el-divider content-position="left"></el-divider>
        <inputTable1 ref="Table02" :showTopBar="false"></inputTable1>
        <div class="editionExplain">
          <div>修改说明：</div>
          <el-input
            type="textarea"
            v-model="explain1"
            rows="3"
            style="width: 500px;"
            placeholder="请输入修改说明"
          ></el-input>
        </div>
      </div>

      <div
        style="width: 100%; text-align: right; margin-top: 20px;"
        @click="next"
      >
        <div
          style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
        >
          发布审核
        </div>
      </div>
    </div>
    <!-- </div> -->
    <vxe-modal
      v-model="plotModal"
      showFooter
      width="85%"
      height="90%"
      title="选择区属"
      @confirm="choosePlot"
    >
      <template #default>
        <div class="myPadding" style="height:calc(100% - 40px);">
          <indexTable :noOperation="true" ref="indexTable"></indexTable>
        </div>
      </template>
    </vxe-modal>

    <vxe-modal v-model="bindingHouse" width="90%" height="80%" title="选择房屋">
      <template #default>
        <div style="padding: 30px;">
          <inputTable1 :showSearchBar="2" ref="chooseHouseTable"></inputTable1>
        </div>
      </template>
    </vxe-modal>

    <!-- <vxe-modal
      v-model="alertVal2"
      width="100%"
      height="100%"
      title="修改房屋信息"
      :showHeader="false"
      :showFooter="false"
    >
      <template #default>
        <div class="plusBtn myPadding">
          <vxe-button class="" @click="submit(2)"
            ><i class="vxe-icon--check myGC"></i> 发送</vxe-button
          >
          <vxe-button class="" @click="close"
            ><i class="vxe-icon--close myRC"></i> 关闭</vxe-button
          >
          <vxe-button class="fr" @click="choose"
            ><i class="el-icon-paperclip myRB"></i> 选择房屋</vxe-button
          >
        </div>
        <inputTable1 ref="Table01"></inputTable1>
        <el-divider content-position="left">修改房屋信息</el-divider>
        <inputTable1 ref="Table02"></inputTable1>
        <div class="myPadding">
          <p>修改说明：</p>
          <el-input
            type="textarea"
            v-model="explain2"
            rows="5"
            placeholder="请输入修改说明"
          ></el-input>
        </div>
      </template>
    </vxe-modal> -->

    <!-- <vxe-modal
      v-model="alertVal3"
      width="100%"
      height="100%"
      title="修改小区信息"
      :showHeader="false"
      :showFooter="false"
    >
      <template #default>
        <div class="plusBtn myPadding">
          <vxe-button class="" @click="submit(3)" v-if="!isCheck"
            ><i class="vxe-icon--check myGC"></i> 发送</vxe-button
          >
          <vxe-button class="" @click="close" v-else
            ><i class="vxe-icon--check myGC"></i> 确定</vxe-button
          >
          <vxe-button class="" @click="close"
            ><i class="vxe-icon--close myRC"></i> 关闭</vxe-button
          >
        </div>
        <inputTable1 ref="Table01"></inputTable1>
        <inputTable2></inputTable2>
        <inputTable3></inputTable3>
        <div class="myPadding">
          附件：
        </div>
      </template>
    </vxe-modal> -->
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  selectHouse,
  getTbHousingCopies,
  getTbHousingCopies1,
} from "@/api/house";
import inputTable2 from "@/components/houseInfoTable/table2.vue";
import inputTable1 from "@/components/houseInfoTable/table1.vue";
import inputTable3 from "@/components/houseInfoTable/table3.vue";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    inputTable2,
    inputTable1,
    inputTable3,
  },
  data() {
    //这里存放数据
    return {
      hideTable: false,
      activeTab: "basic",
      searchForm: {},
      searchVal1: null,
      searchVal2: null,
      searchVal3: null,
      list: [],
      tableData: [],
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30, 40],
        totalResult: 0,
      },
      // 弹窗--小区
      alertVal1: false,
      explain1: null,
      explain2: null,
      plotModal: false,
      putInStorage: false,
      editPlotMsg: false,
      editHouseMsg: false,
      bindingHouse: false,
      isCheck: false,
      alertVal4: false, // 具体房屋信息
      searchVal4: null,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    handleSearch() {
      this.init(
        this.tablePage.currentPage,
        this.tablePage.pageSize,
        this.searchForm
      );
    },
    async getTbHousingCopies(obj) {},
    choosePlot() {},
    openPlotModal() {
      this.bindingHouse = true;
      this.init("house", 1, 10);
    },
    async next() {
      let validBasicForm = null;
      let validTotalDetailForm = null;
      let validTable = null;
      // console.log("valid", validBasicForm, validTotalDetailForm, validTable);

      if (this.activeTab == "basic") {
        validBasicForm = this.$refs.Table2.basicFormValidator();
        if (!validBasicForm) return;
        this.activeTab = "house";
      } else {
        validTotalDetailForm = this.$refs.Table1.totalDetailFormValidator();
        validTable = await this.$refs.Table1.tableValidator();

        // console.log("validTotalDetailForm", validTotalDetailForm);
        // console.log("validTable1111", validTable);

        if (!validTotalDetailForm || !validTable) return;

        this.tbPlot = {
          ...this.$refs.Table2.basicForm,
          ...this.$refs.Table1.totalDetailForm,
        };
        this.tbHousing = this.$refs.Table1.tableData;

        if (!this.isAdd) {
          let data = await putHouseInputInfo({
            tbHousing: this.tbHousing,
            tbPlot: this.tbPlot,
          });
        } else {
          let data = await addHouseInputInfo({
            tbHousing: this.tbHousing,
            tbPlot: this.tbPlot,
          });
        }
        this.init();
        // console.log("picList", this.$refs.Table2.picList);
        this.activeTab = "basic";
        this.alertVal = false;
      }
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val", val);
      this.tablePage.currentPage = val.currentPage;
      let page = val.currentPage;
      let limit = val.pageSize;
      this.init({ page, limit });
    },
    async init(page, limit, obj) {
      let res = await getTbHousingCopies(page, limit, obj);
      // let res = await getTbHousingCopies(obj.page, obj.limit);
      console.log("await", res);
      this.tableData = res.data.data;
      this.tablePage.totalResult = res.data.total;

      // this.tableData = this.list;
      // if (type == "house") {
      //   selectHouse(page, limit).then((res) => {
      //     if (res.code == 0) {
      //       this.$refs.chooseHouseTable.init(res);
      //     } else {
      //       this.$message({ type: "success", message: "暂无数据" });
      //     }
      //   });
      // }
    },
    add(num) {
      let radio = this.$refs.xTable.getRadioRecord();
      console.log("房屋修改 add", num, radio);
      if (radio) {
        // 为1，小区修改
        if (num == 1) {
          // 小区
          this.editPlotMsg = true;
          this.hideTable = true;
          setTimeout(() => {
            this.$refs.Table2.getData(1);
          }, 100);
          // 为2，房屋修改
        } else if (num == 2) {
          // 房屋
          this.editHouseMsg = true;
          this.hideTable = true;
          setTimeout(() => {
            this.$refs.Table01.getData(0, "房屋信息");
            this.$refs.Table02.getData(3, "房屋信息");
          }, 100);
          // 为3，新建入库
        } else {
          // 入库
          this.putInStorage = true;
          this.hideTable = true;
        }
        this.$refs.xTable.clearCheckboxRow();
      } else {
        this.$message({ type: "error", message: "请选择至少一条数据!" });
      }
    },
    submit(num) {
      this.$confirm("是否发送审核?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        if (num == 1) {
          // 小区
        } else if (num == 2) {
          // 房屋
        } else {
          // 入库
        }
        this.close();
        this.$message({ type: "success", message: "发送成功!" });
      });
    },
    close() {
      this.alertVal1 = false;
      this.alertVal2 = false;
      this.alertVal3 = false;
      this.isCheck = false;
    },
    // 选择房屋--弹窗
    choose() {
      this.alertVal4 = true;
      setTimeout(() => {
        this.$refs.Table03.getData(2, "房屋信息");
      }, 100);
    },
    toSearch() {
      // 选择房屋--搜索
    },
    check(data) {
      this.alertVal3 = true;
      this.isCheck = true;
    },
    del(data) {
      this.$confirm("此操作将删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        //删除
        this.$message({ type: "success", message: "删除成功!" });
      });
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData = this.$search.searchEvents(
        this.list,
        searchVal,
        PropsList
      );
      // this.total = this.list1.length
    },
    // 导出
    async exportDataEvent() {
      await this.$refs.xTable.openExport({
        // 默认勾选源
        original: true,
      });
      this.$refs.xTable.clearCheckboxRow();
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.init(
      this.tablePage.currentPage,
      this.tablePage.pageSize,
      this.searchForm
    );
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
.floatButton {
  position: absolute;
  z-index: 999;
  top: 20px;
  left: 20px;
}
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}
// 分割线
.el-divider--horizontal {
  height: 2px;
}
.h40 {
  height: 40px;
}

::v-deep .vxe-modal--wrapper .vxe-modal--header {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

::v-deep .vxe-modal--title {
  font-size: 18px !important;
  font-weight: normal;
  padding: 15px;
  padding-bottom: 0;
}

/* ::v-deep .vxe-header--column .vxe-cell--title {
  line-height: 1.5;
  font-size: 15px !important;
  font-weight: normal;
} */

::v-deep .vxe-header--column .vxe-cell--required-icon {
  display: none;
}

::v-deep .vxe-table--render-default .vxe-cell {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

::v-deep
  .vxe-table--render-default
  .is--checked.vxe-cell--radio
  .vxe-radio--checked-icon:before {
  border-color: #409eff;
  background-color: #409eff;
}
::v-deep .vxe-table--render-default .vxe-cell--radio .vxe-radio--icon:before {
  content: "";
  position: absolute;
  height: 1em;
  width: 1em;
  top: 0;
  left: 0;
  background-color: #fff;
  border-radius: 2px;
  border: 2px solid #dcdfe6;
}

::v-deep
  .vxe-table--render-default
  .vxe-cell--radio
  .vxe-radio--checked-icon:after {
  content: "";
  position: absolute;
  height: 0.64em;
  width: 0.32em;
  top: 50%;
  left: 50%;
  border: 2px solid #fff;
  border-left: 0;
  border-top: 0;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
  transform: translate(-50%, -50%) rotate(45deg);
}

::v-deep .vxe-table--render-default.border--default .vxe-table--header-wrapper,
.vxe-table--render-default.border--full .vxe-table--header-wrapper,
.vxe-table--render-default.border--outer .vxe-table--header-wrapper {
  background-color: #f0f1f3;
}
</style>
