<template>
  <fm-making-form ref="makingForm" clearable upload preview generate-code generate-json>
    <h3 style="margin: 10px;">子表单</h3>
    <template slot="action" />
  </fm-making-form>
</template>

<script>
export default {
  mounted() {}
}
</script>
