<template>

  <el-dialog
    class="abow_dialog"
    :close-on-click-modal="false"
    :modal-append-to-body="appendToBody"
    :append-to-body="true"
    title="用户查询"
    width="60%"
    top="10vh"
    :visible.sync="visible"
    :show="singleShow"
    @close="$emit('update:singleShow', false)"
  >
    <div>
      <el-form :inline="true" :model="queryForm">
        <el-form-item label=" 姓名">
          <el-input v-model="queryForm.fullname" clearable />
        </el-form-item>
        <el-form-item label=" 账户">
          <el-input v-model="queryForm.account" clearable />
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="search">查询</el-button>
          <el-button type="default" @click="reset">重置</el-button>
        </el-form-item>
      </el-form>
      <Row>

        <Col span="22" class="no-padding border-bottom border-right boder-margin">
          <Table
            ref="selection"
            border
            highlight-row
            height="450"
            :columns="tableColumns"
            :data="tableData"
            style="padding-left: 10px;padding-top: 10px"
            @on-select-cancel="cancelSelectionChange"
          />
          <Page ref="pages" :total="userTotal" show-elevator style="margin-top: 3px" @on-change="changePanelUser" />
          <!--          @on-change="changePanelUser"-->
        </Col>
      </Row>

    </div>
    <span slot="footer" class="dialog-footer">
      <el-button type="primary" @click="confirmDialog">确 定</el-button>
      <el-button @click="visible = false">取 消</el-button>

    </span>
  </el-dialog>
</template>

<script>
import {
  getUser,
  getRoleTree,
  getRoleFilter,
  getDemension,
  getOrgTree,
  getOrgFilter,
  getOrgPost,
  getPostFilter,
  getAllUser
} from '@/api/uc'

export default {
  props: {
    singleShow: {
      type: Boolean,
      default: false
    },
    onOk: { // 定义onOK属性
      type: Function
    },
    existData: {
      type: Object,
      default: () => ({})

    }

  },
  data() {
    return {
      visible: this.singleShow,
      appendToBody: true,
      curentTableData: [],
      index: 1,
      roleDefaultProps: {
        children: 'childList',
        label: 'name'
      },
      orgDefaultProps: {
        children: 'children',
        label: 'deptName'
      },
      positionDefaultProps: {
        children: 'children',
        label: 'posName'
      },
      activiteCode: '',
      serviceVal: '',
      activePanel: '',
      tableHeight: 420,
      tableMinHeight: 484,
      userTotal: 0,
      currentChoose: '',
      currentChooseUser: {},
      orgModel: '',
      positionModel: '',
      roleData: [],
      orgData: [],
      positionDemension: [],
      orgDemension: [],
      queryForm: {
        page: 1,
        length: 10,
        fullname: '',
        account: '',
        whereSql: ''
      },
      showTableColumns: [
        {
          title: '姓名',
          key: 'fullname'
        },
        {
          title: '操作', //
          key: 'id', //
          align: 'center',
          render: (h, params) => {
            return h('div', [
              h('Button', {
                props: {
                  type: 'primary',
                  icon: 'ivu-icon-ios-trash'
                },
                style: {
                  display: 'flex',
                  'justify-content': 'center'
                },
                on: {
                  click: (index, data) => {
                    this.showTableData.splice(params.index, 1)
                    this.$nextTick(() => {
                      var objData = this.$refs.selection.$refs.tbody.objData
                      var leftData = []
                      for (var obj in objData) {
                        leftData.push(objData[obj])
                      }
                      for (var i = 0; i < leftData.length; i++) {
                        if (leftData[i].userNo == params.row.userNo) {
                          this.$refs.selection.$refs.tbody.objData[i]._isChecked = false

                          break
                        }
                      }
                    })
                  }
                }
              }, '删除')
            ])
          }
        }
      ],

      tableColumns: [
        {
          title: '选择',
          key: 'id',
          width: 70,
          align: 'center',
          render: (h, params) => {
            const id = params.row.id
            let flag = false
            if (this.currentChoose === id) {
              flag = true
            } else {
              flag = false
            }

            const self = this
            return h('div', [
              h('Radio', {
                props: {
                  value: flag
                },
                on: {
                  'on-change': () => {
                    this.currentChooseUser = params.row
                    this.currentChoose = params.row.id
                  }
                }
              })
            ])
          }
        },

        {
          title: '姓名',
          key: 'fullname'
        },
        {
          title: '工号',
          key: 'userNo'
        },
        {
          title: '账户',
          key: 'account'
        },
        {
          title: '手机号',
          key: 'mobile'
        }
      ],
      tableData: [],
      showTableData: []
    }
  },
  watch: {
    // singleShow : (n ,o) => {//箭头函数  不然会发生this改变
    //   debugger
    // }
    // ,
    singleShow() {
      // 分页初始化为第一页
      this.$nextTick(function() {
        this.$refs['pages'].currentPage = 1
      })
      if (this.singleShow) {
        if (this.existData && this.existData.userNo) {
          this.currentChoose = this.existData.id
          this.currentChooseUser = this.existData
        } else {
          this.currentChoose = ''
          this.currentChooseUser = {}
        }
        this.getAllUser()
      } else {
        this.queryForm.fullname = ''
        this.queryForm.account = ''
        this.queryForm.whereSql = ''
        this.queryForm.page = 1
      }
      this.visible = this.singleShow
    }

  },
  methods: {
    mount() {
    },
    created() {
    },
    reset: function() {
      this.queryForm.fullname = ''
      this.queryForm.account = ''
      this.queryForm.whereSql = ''
      this.queryForm.page = 1
      this.getAllUser()
    },
    search: function() {
      this.queryForm.page = 1
      this.getAllUser()
    },
    changePanelUser: function(page) {
      this.queryForm.page = page
      this.getAllUser()
    },
    cancelSelectionChange: function(selection, row) {
      this.showTableData = existData
    },
    operateTable: function(selection) {
      var array = this.showTableData.concat(selection)
      var newArray = this.unique(array)
      this.showTableData = newArray
    },
    selectionOnChange: function(selection, row) {
      this.operateTable(selection)
    },
    unique(arr) { // 根据唯一标识no来对数组进行过滤
      const res = new Map() // 定义常量 res,值为一个Map对象实例
      // 返回arr数组过滤后的结果，结果为一个数组   过滤条件是，如果res中没有某个键，就设置这个键的值为1
      return arr.filter((arr) => !res.has(arr.userNo) && res.set(arr.userNo, 1))
    },
    remove(userNo) { // 根据唯一标识no来对数组进行过滤
      const res = new Map() // 定义常量 res,值为一个Map对象实例
      // 返回arr数组过滤后的结果，结果为一个数组   过滤条件是，如果res中没有某个键，就设置这个键的值为1
      return this.showTableData.filter((arr) => !(arr.userNo == userNo))
    },
    exist(userNo) { // 根据唯一标识no来对数组进行过滤
      // 返回arr数组过滤后的结果，结果为一个数组   过滤条件是，如果res中没有某个键，就设置这个键的值为1
      return this.showTableData.filter((arr) => (arr.userNo == userNo))
    },

    selectAll: function(selection) {
      this.operateTable(selection)
      this.curentTableData = selection
    },
    selectAllCancel: function(selection, row) {
      var select = this.$refs.selection.data
      for (var i = 0; i < select.length; i++) {
        this.showTableData = this.remove(select[i].userNo)
      }
    },
    getAllUser: function() {
      getAllUser(this.queryForm).then((response) => {
        if (response.code == 0) {
          this.tableData = response.page.aaData
          this.userTotal = parseInt(response.page.total)
          this.$nextTick(() => {
            var objData = this.$refs.selection.$refs.tbody.objData
            var leftData = []
            for (var obj in objData) {
              leftData.push(objData[obj])
            }
            for (var i = 0; i < leftData.length; i++) {
              if (this.exist(leftData[i].userNo) && this.exist(leftData[i].userNo).length > 0) {
                this.$refs.selection.$refs.tbody.objData[i]._isChecked = true
              }
            }
          })
        }
      })
    },
    confirmDialog() {
      if (this.onOk) {
        this.visible = false
        this.onOk(this.currentChooseUser)
      }
    },
    changePanel: function(data) {
    }
  },
  mount() {
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  }
}
</script>
<style lang="scss">

</style>
