<template>
  <div id="houseType" class="myBR f1"></div>
</template>
<style scoped>
#houseType {
  background-color: #fff;
  padding: 20px;
}
</style>
<script>
import * as echarts from "echarts";
export default {
  name: "",
  data() {
    return {};
  },
  mounted() {
    this.getHouseType();
  },
  methods: {
    // 加载页面时获取
    getHouseType() {
      var chartDom = document.getElementById("houseType");
      var myChart = echarts.init(chartDom);
      myChart.resize({
        height: 370,
      });
      var option;
      option = {
        grid: {
          top: "17%",
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        tooltip: {
          trigger: "axis",
          axisPointer: {
            // 坐标轴指示器，坐标轴触发有效
            type: "shadow", // 默认为直线，可选为：'line' | 'shadow'
          },
          formatter: function(e) {
            return "已入库：" + e[0].data + "<br>未入库：" + e[1].data;
          },
        },
        title: {
          subtext: "房型统计",
          subtextStyle: {
            color: "#000",
            fontSize: 14,
          },
          top: "-2%",
          left: "left",
        },
        backgroundColor: "#fff",
        legend: {
          // rect是矩形图例   circle是圆点图例
          icon: "circle",
          data: ["已入库", "未入库"],
          top: "2%",
          right: "10",
          textStyle: {
            color: "#000",
            fontSize: 14,
          },
          itemWidth: 10,
          itemHeight: 10,
        },
        xAxis: {
          data: [
            "一室一厅",
            "二室一厅",
            "二室二厅",
            "三室一厅",
            "三室二厅",
            "四室一厅",
            "四室二厅",
          ],
          axisLine: {
            show: true, //隐藏X轴轴线
          },
          axisTick: {
            //去掉轴刻度
            show: false,
          },
        },
        yAxis: [
          {
            type: "value",
            name: "单位：套",
            splitLine: {
              show: false,
            },
            axisTick: {
              show: true,
            },
            axisLine: {
              show: true,
            },
            axisLabel: {
              show: true,
            },
          },
          {
            type: "value",
            /*name: "同比",*/
            nameTextStyle: {
              color: "#ebf8ac",
              fontSize: 14,
            },
            position: "right",
            splitLine: {
              show: false,
            },
            axisTick: {
              show: false,
            },
            axisLine: {
              show: false,
            },
            axisLabel: {
              show: true,
              formatter: "{value} ", //右侧Y轴文字显示
              textStyle: {
                color: "#000",
                fontSize: 14,
              },
            },
          },
        ],
        series: [
          {
            name: "已入库",
            type: "bar",
            barWidth: 10,
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#E3925A",
                barBorderRadius: [20, 20, 0, 0],
              },
            },
            data: [194, 323, 302, 180, 300, 250, 265],
          },
          {
            name: "未入库",
            type: "bar",
            barWidth: 10,
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#5883D9",
                barBorderRadius: [20, 20, 0, 0],
              },
            },
            data: [300, 223, 320, 285, 224, 310, 285],
          },
        ],
      };
      option && myChart.setOption(option);
    },
  },
};
</script>
