<template>
  <div id="regionalAllocation" class="myBR f1"></div>
</template>
<style scoped>
#regionalAllocation {
  background-color: #fff;
  padding: 20px;
}
</style>
<script>
import * as echarts from "echarts";
export default {
  name: "",
  data() {
    return {
      // 可视化
      colors: ["#00d4c7", "#0092f6"],
      regionTitle: ["去年上报统计", "本周上报统计"],
      regionData: [
        [153, 143, 225, 231, 218, 254, 227, 231, 262, 224, 287],
        [63, 38, 85, 41, 89, 44, 87, 45, 89, 54, 37],
      ],
    };
  },
  mounted() {
    this.getRegionalAllocation();
  },
  methods: {
    getRegionalAllocation() {
      var chartDom = document.getElementById("regionalAllocation");
      var myChart = echarts.init(chartDom);
      myChart.resize({
        height: 370,
      });
      var option;

      option = {
        color: this.colors,
        title: {
          subtext: "安置房资产情况",
          subtextStyle: {
            color: "#000",
            fontSize: 14,
          },
          top: "-2%",
          left: "left",
        },
        tooltip: {
          trigger: "axis",
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: [
            "越秀区",
            "海珠区",
            "荔湾区",
            "天河区",
            "白云区",
            "黄埔区",
            "南沙区",
            "番禺区",
            "花都区",
            "增城区",
            "从化区",
          ],
          axisTick: {
            //去掉轴刻度
            show: true,
          },
          axisLine: {
            show: true,
          },
        },
        yAxis: [
          {
            type: "value",
            name: "单位：套",
            axisLabel: {
              formatter: "{value}",
            },
            axisTick: {
              show: false,
            },
            splitLine: { show: false }, // 去除网格
            axisLine: {
              show: true,
            },
          },
          {
            type: "value",
            name: "占比",
            min: 0,
            max: 100,
            axisLabel: {
              formatter: "{value} %",
            },

            axisTick: {
              show: false,
            },
            splitLine: { show: false }, // 去除网格
          },
        ],
        series: [
          {
            name: this.regionTitle[0],
            type: "line",
            // 拐点大小
            symbolSize: 5,
            data: this.regionData[0],
            // 平滑线
            smooth: false,
            showSymbol: true,
            // 线的大小
            lineStyle: {
              width: 2,
            },
            itemStyle: {
              normal: {
                color: "#5883D9",
              },
            },
          },
          {
            name: this.regionTitle[1],
            type: "line",
            symbolSize: 5,
            data: this.regionData[1],
            smooth: false,
            showSymbol: true,
            lineStyle: {
              width: 2,
            },
            itemStyle: {
              normal: {
                color: "#F9BC8E",
              },
            },
          },
        ],
      };

      option && myChart.setOption(option);
    },
  },
};
</script>
