<template>
  <div id="regionalReporting" class="myBR f1"></div>
</template>
<style scoped>
#regionalReporting {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
}
</style>
<script>
import * as echarts from "echarts";
export default {
  name: "",
  data() {
    return {
      // 可视化
      colors: ["#00d4c7", "#0092f6"],
      regionTitle: ["已建册", "未建册"],
      regionData: [
        [33, 43, 25, 31, 18, 54, 27, 31, 62, 24, 87],
        [13, 38, 85, 41, 89, 24, 87, 45, 89, 54, 37],
      ],
    };
  },
  mounted() {
    this.getRegionalReporting();
  },
  methods: {
    getRegionalReporting() {
      var chartDom = document.getElementById("regionalReporting");
      var myChart = echarts.init(chartDom);
      myChart.resize({
        height: 370,
      });
      var option;

      option = {
        color: this.colors,
        title: {
          subtext: "安置房建册数量",
          subtextStyle: {
            color: "#6C6C6C",
            fontSize: 18,
          },
          top: "-2%",
          left: "5",
        },
        tooltip: {
          trigger: "axis",
        },
        legend: {
          // rect是矩形图例   circle是圆点图例
          icon: "circle",
          x: "right",
          data: this.regionTitle,
          textStyle: {
            color: "#000",
            fontSize: 14,
          },
          itemWidth: 10,
          itemHeight: 10,
        },
        grid: {
          left: "3%",
          right: "4%",
          bottom: "3%",
          containLabel: true,
        },
        xAxis: {
          type: "category",
          boundaryGap: false,
          data: [
            "越秀区",
            "海珠区",
            "荔湾区",
            "天河区",
            "白云区",
            "黄埔区",
            "南沙区",
            "番禺区",
            "花都区",
            "增城区",
            "从化区",
          ],
          axisTick: {
            //去掉轴刻度
            show: false,
          },
        },
        yAxis: {
          type: "value",
          name: "单位：套",
          splitLine: { show: false }, // 去除网格
          axisLine: {
            show: true,
          },
          // 带单位  轴的数值大小
          axisLabel: {
            formatter: "{value}",
          },
        },
        series: [
          {
            name: this.regionTitle[0],
            type: "line",
            // 拐点大小
            symbolSize: 1,
            data: this.regionData[0],
            // 平滑线
            smooth: true,
            showSymbol: false,
            lineStyle: {
              width: 3,
            },
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#FABC8A",
              },
            },
            areaStyle: {
              // normal: {
              //   color: "#FABC8A",
              // },
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: "rgba(252,188,129, 1)",
                    },
                    {
                      offset: 1,
                      color: "rgba(253,249,245,0)",
                    },
                  ],
                  false
                ),
              },
            },
          },
          {
            name: this.regionTitle[1],
            type: "line",
            symbolSize: 10,
            data: this.regionData[1],
            smooth: true,
            showSymbol: false,
            lineStyle: {
              width: 3,
            },
            itemStyle: {
              normal: {
                opacity: 1,
                color: "#638EDE",
              },
            },
            areaStyle: {
              // normal: {
              //   color: "#638EDE",
              // },
              normal: {
                color: new echarts.graphic.LinearGradient(
                  0,
                  0,
                  0,
                  1,
                  [
                    {
                      offset: 0,
                      color: "rgba(114,152,228, 1)",
                    },
                    {
                      offset: 1,
                      color: "rgba(114,152,228,0)",
                    },
                  ],
                  false
                ),
              },
            },
          },
        ],
      };

      option && myChart.setOption(option);
    },
  },
};
</script>
