<template>
  <div class="main-div">

    <Row>
      <Col span="4">
        <el-select v-model="queryForm.groupName" style="margin-top: 10px" @change="changeDemension">
          <el-option v-for="item in demensionData" :value="item.code" :label="item.demName" />
        </el-select>
        <Tree
          :data="categoryData"
          @on-select-change="refreshTree"
        />
      </Col>
      <Col span="20">
        <Card class="task-card">
          <div slot="title">
            <el-alert
              title="请首先为组织设置岗位，然后再添加相关人员。"
              type="warning"
              show-icon
            />
          </div>

          <div class="app-container">

            <el-button type="primary" @click="add('inner')">
              <Icon type="ios-add" />
              新增
            </el-button>
            <el-row style="margin-top: 10px">
              <el-col>
                <el-table
                  :data="tableData"
                  size="mini"
                  style="width: 100%"
                  :height="tableHeight"
                  border
                >
                  <el-table-column
                    fixed
                    prop="deptName"
                    label="名称"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="easyName"
                    label="简称"
                    width="180"
                    show-overflow-tooltip
                  />
                  <el-table-column
                    prop="deptCode"
                    label="编码"
                    width="180"
                    show-overflow-tooltip
                  />

                  <el-table-column
                    fixed="right"
                    label="操作"
                  >
                    <template slot-scope="scope">

                      <el-button
                        size="mini"
                        type="text"
                        icon="el-icon-edit"
                        @click="handleClick(scope.row)"
                      />
                      <el-button
                        size="mini"
                        type="text"
                        icon="el-icon-delete"
                        @click="handleDelClick(scope.row)"
                      />
                      <el-button size="mini" type="text" icon="el-icon-user" @click="addUser(scope.row)">设置人员</el-button>
                      <el-button size="mini" type="text" icon="el-icon-circle-plus" @click="listUser(scope.row)">设置岗位</el-button>
                    </template>
                  </el-table-column>
                </el-table>
              </el-col>
            </el-row>
            <el-row type="flex" justify="center">
              <el-pagination
                background
                :current-page="queryForm.page"
                :page-size="queryForm.pageSize"
                layout="total, prev, pager, next, jumper"
                :total="total"
                @current-change="handleCurrentChange"
              />
            </el-row>
          </div>
        </Card>
      </Col>

    </Row>

  </div>

</template>

<script>
import { getTaskData, getTaskChartData, getBpmnModelCategory } from '@/api/analy'
import { getTypesByKey } from '@/api/form'
import { getDemensionList, getDemensionTypesByKey,
  getJobListByDemension,
  getJobListByDemensionPath,
  getOrgTableList,
  removeOrg,
  removeOrgPost, getOrgPostByCodeAndOrgId } from '@/api/uc'
import Treeselect from '@riophae/vue-treeselect'
import '@riophae/vue-treeselect/dist/vue-treeselect.css'

export default {
  name: 'Task',
  components: {
    Treeselect
  },

  data() {
    return {
      addModel: false,
      busObj: false,
      tmpGroup: '',
      tableData: [],
      tableHeight: 450,
      queryDate: [],
      total: 0,
      chartVisible: false,
      chartData: {},
      sellerId: 0,
      shopName: [],
      queryForm: {
        groupId: '',
        code: '',
        groupName: null,
        page: 0,
        limit: 10
      },
      listUserForm: {
        page: 0,
        limit: 10,
        code: '',
        orgId: ''
      },

      queryPath: {
        path: '',
        page: 0,
        limit: 10
      },
      demensionForm: {
        page: 0,
        limit: 1000
      },
      categoryData: [],
      demensionData: []
    }
  },
  mount() {
    this.getData()
    this.tableHeight = window.innerHeight - this.$refs.table.$el.offsetTop
  },
  created() {
    this.initData()
  },
  methods: {

    refreshTree: function(data) {
      if (data) {
        var path = data[0].path
        if (path) {
          this.queryForm.code = path
          this.getOrgListByDemension()
        }
      }
    },
    changeDemension: function(code) {
      this.tmpGroup = code
      this.getTypesByKeyAction(code)
    },
    normalizer(node) {
      // 去掉children=[]的children属性
      if (node.children && !node.children.length) {
        delete node.children
      }
      return {
        id: node.id,
        label: node.demName,
        children: node.children
      }
    },
    clearOnSelect: function(node, instanceId) {
      if (!node) {
        this.queryForm.groupId = ''
        this.queryForm.groupName = null
      }
    },
    selectTree: function(node, instanceId) {
      this.queryForm.groupId = node.id
      this.queryForm.groupName = node.title
    },
    add: function(type) {
      this.$router.push({ name: 'org_add', query: { t: new Date().getTime() }})
    },
    queryFormCreateTime: function(e) {
      this.queryForm.createTime = e
    },
    refreshTask: function(data) {
      if (data[0].parentId == '-1') {
        this.queryForm.groupId = ''
      } else {
        this.queryForm.groupId = data[0].id
      }
      this.getData()
    },
    queryMethod: function() {
      var name = this.queryForm.name
      var whereSql = ''
      var createTime = this.queryForm.createTime
      if (createTime) {
        if (createTime[0]) {
          whereSql = "  CREATE_TIME_  between '" + createTime[0] + "' and " + "'" + createTime[1] + "'"
        }
      }
      this.queryForm.whereSql = whereSql
      getTaskData(this.queryForm).then((response) => {
        this.tableData = response.data
        if (response.count.length > 0) {
          this.total = parseInt(response.count)
        } else {
          this.total = 0
        }
      })
    },
    getTypesByKeyAction: function(code) {
      getDemensionTypesByKey(code).then((response) => {
        var data = response.data
        this.categoryData = []
        this.categoryData.push(data)
      })
    },
    initData: function() {
      this.getDemensionList()
    },
    getOrgListByDemension: function() {
      getOrgTableList(this.queryForm).then((response) => {
        this.tableData = response.data
        this.total = parseInt(response.count)
      })
    },
    getDemensionList: function() {
      getDemensionList(this.demensionForm).then((response) => {
        this.demensionData = response.data
        var isDefault = true
        for (var value of response.data) {
          if (value.defaultVal) {
            isDefault = false
            this.queryForm.groupName = value['demName']
            this.getTypesByKeyAction(value['code'])
            this.queryForm.code = value['code']
            this.tmpGroup = value['code']
            this.getOrgListByDemension()
            break
          }
        }
        // 没有默认的
        if (isDefault) {
          if (this.demensionData.length > 0) {
            var first = this.demensionData[0]
            this.queryForm.groupName = first['demName']
            this.tmpGroup = first['demName']
            this.getTypesByKeyAction(first['code'])
            this.queryForm.code = first['code']
            this.getJobListByDemension()
          }
        }
      })
    },

    getData: function() {

      // businessObjectList(this.queryForm).then((response) => {
      //   this.tableData = response.data
      //   this.total = parseInt(response.count)
      // })
    },
    handleCurrentChange(val) {
      this.queryForm.page = val
      this.getData()
    },
    handleClick(data) {
      this.$router.push({ name: 'org_add', query: { t: new Date().getTime(), 'id': data.id }})
    },
    addUser: function(data) {
      this.$router.push({ name: 'org_addUser', query: { t: new Date().getTime(), 'code': data.deptCode }})
    },
    listUser: function(data) {
      this.$router.push({ name: 'org_orgPost', query: { t: new Date().getTime(), 'code': data.deptCode }})
    },
    recursiveNode: function(data, path, index) {
      for (var i = 0; i < data.length; i++) {
        var node = data[i]
        if (node) {
          if (node.path == path) {
            node.expand = true
          }
          if (node.children) {
            this.recursiveNode(node.children, path)
          }
        }
      }
    },
    handleDelClick(data) {
      var path = this.queryForm.code
      var ids = []
      ids.push(data.id)
      removeOrg({ ids: ids }).then((response) => {
        if (response.code == 0) {
          this.getOrgListByDemension()

          this.getTypesByKeyAction(this.tmpGroup)
        } else {
          this.$message({ message: response.msg, type: 'warning', customClass: 'zZindex' })
        }

        // this.getTypesByKeyAction(this.queryForm.groupName)
      }).then(() => {

      })
    },
    search() {
      this.queryForm.page = 0
      this.queryMethod()
    },
    reset() {
      this.queryForm.name = ''
      this.queryForm.createTime = ''
      this.queryForm.whereSql = ''
      this.queryDate = []
      this.getData()
    }

  }

}

</script>
<style lang="scss">
  .task-card {
    margin-top: 10px;
  }

</style>
