#app,
i,
div,
span,
p,
.el-form-item__label {
  font-size: 14px !important;
}
a {
  color: #000;
  text-decoration: none;
}
li {
  list-style: none;
}
.app-main {
  display: flex;
  flex-direction: column;
}
#myMain {
  padding: 0 20px;
  // padding-right: 0;
  padding-bottom: 20px;
  background-color: #f1f3f6;
  flex: 1;
  display: flex;
  flex-direction: column;
  .myMain-padding {
    flex: 1;
    padding: 20px 0;
    margin-top: 20px;
    border-radius: 5px;
    // background-color: #fff;
  }
}
.baseBG {
  background-color: RGB(48, 65, 86);
  color: white;
}
.myPadding {
  padding: 30px;
}
.myBR {
  border-radius: 5px;
}
// .myContent{
//     flex: 1;
//     padding: 20px;
//     background-color: #f0f2f5;
//     .main{
//         height: 100%;
//         background-color: white;
//         padding: 20px;
//         border-radius: 2px;
//         -webkit-border-radius: 2px;
//         -moz-border-radius: 2px;
//         -ms-border-radius: 2px;
//         -o-border-radius: 2px;
//     }
//     .el-col{
//         margin-bottom: 1%;
//     }
// }
.fr {
  float: right;
}
.fl {
  float: left;
}
p.title {
  font-weight: bold;
  line-height: 35px;
  margin: 0;
}
// 操作按钮
.my_primary_btn {
  color: white !important;
  padding: 5px 10px !important;
  border: 1px solid RGB(64, 158, 255);
  border-radius: 5px !important;
  background-color: RGB(64, 158, 255) !important;
}
.my_danger_btn {
  color: white !important;
  padding: 5px 10px !important;
  border: 1px solid RGB(245, 108, 108);
  border-radius: 5px !important;
  background-color: RGB(245, 108, 108) !important;
}
.my_success_btn {
  color: white !important;
  padding: 5px 10px !important;
  border: 1px solid RGB(103, 194, 58);
  border-radius: 5px !important;
  background-color: RGB(103, 194, 58) !important;
}
// button
.plusBtn {
  background-color: RGB(48, 65, 86) !important;
  color: white !important;
  border: none !important;
}
// icon 颜色
.myGC {
  color: #67c23a;
}
.myRC {
  color: #f56c6c;
}
.myBC {
  color: #409eff;
}
.myWbc {
  background-color: #fff;
}
.mt0 {
  margin-top: 0 !important;
}
.mt20 {
  margin-top: 20px;
}
.mt15 {
  margin-top: 15px;
}
.mt78 {
  margin-top: 78px !important;
}
.ml20 {
  margin-left: 20px;
}
.mr5 {
  margin-right: 5px;
}
.pt20 {
  padding-top: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.ph20 {
  padding-left: 20px;
  padding-right: 20px;
}
.mb20 {
  margin-bottom: 20px;
}
.p0 {
  padding: 0 !important;
}
.pr0 {
  padding-right: 0;
}
.jcsb {
  justify-content: space-between;
}
.operationBtnSize {
  width: 17px;
  height: 17px;
}
.h40 {
  height: 40px !important;
}
// 块元素居中
.bCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.d_center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.displayFlexR {
  display: flex;
  flex-direction: row;
}
.displayFlexC {
  display: flex;
  flex-direction: column;
}
.f1 {
  flex: 1;
}
.f2 {
  flex: 2;
}
.f3 {
  flex: 3;
}
.f4 {
  flex: 4;
}
.paginationBlock {
  position: absolute;
  right: 0%;
  bottom: 0%;
}
.positionPager {
  position: absolute;
  right: 2%;
  bottom: 2%;
}
.boxShadow {
  box-shadow: 3px 3px 10px 3px #eee;
  border-radius: 5px;
}

// 表的搜索样式
.table-top {
  width: 100%;
  height: 100%;
  display: flex;
  // flex-direction: column;
  padding-bottom: 23px;
  .el-input {
    width: 243px;
  }
  .searchLabel {
    line-height: 40px;
    margin-right: 10px;
  }
  .inputMargin {
    margin-right: 15px;
  }
}

.table-action {
  height: 70px;
  line-height: 70px;
  padding-left: 14px;
  width: 100%;
  border: 1px solid #dedede;
}

// 表
.myTable {
  position: relative;
  padding: 20px;
  background-color: #fff;
  // padding: 30px;
  // background-color: #fff;
  .vxe-pager.size--mini {
    // position: absolute;
    width: 100%;
  }
  .zhuzhai {
    color: #fa4d4d;
    background-color: #feeded;
  }
  .kongfang {
    color: #f0fcf3;
    background-color: #6adc7c;
  }
  .yizhu {
    color: #ff8d00;
    background-color: #ffefd8;
  }
  .dianti {
    color: #9162f1;
    background-color: #f5f1fe;
  }
  .el-icon-location {
    color: rgb(51, 61, 73);
  }
}

// 审核 的 右边的样式
.myRight {
  position: relative;
  p {
    text-align: left;
    line-height: 30px;
    margin: 0;
  }
  .hh {
    padding: 5px 10px;
    margin: 0;
  }
  .el-radio-group {
    margin: 2vh 0;
    text-align: left;
  }
  ::v-deep.el-timeline-item__timestamp.is-top {
    text-align: left;
  }
  // 线的颜色
  ::v-deep.el-timeline-item__tail {
    border-left: 2px solid #28567f;
  }
  // 圆点颜色
  ::v-deep.el-timeline-item__node {
    background-color: #28567f;
  }
  .btn {
    position: absolute;
    right: 4%;
    bottom: 2%;
  }
}
.vertical {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.tabbar {
  // height: 100%;
  margin-top: 20px;
  padding: 0 20px;
  background-color: #fff;
  overflow: hidden;
  // position: relative;
  .tabs {
    margin-top: 10px;
  }
}

.btnLine {
  width: 100%;
  text-align: right;
  margin-top: 214px;
  .btn {
    float: right;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
    width: 111px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background-color: #505976;
  }
}

.editionExplain {
  width: 100%;
  height: 120px;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #dbdbdb;
  display: flex;
  align-items: flex-start;
}

::v-deep .el-select .el-input .el-select__caret {
  color: #304156;
  font-weight: bold;
}

::v-deep .vxe-modal--wrapper .vxe-modal--header {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}

::v-deep .vxe-table--render-default.border--default .vxe-table--header-wrapper,
.vxe-table--render-default.border--full .vxe-table--header-wrapper,
.vxe-table--render-default.border--outer .vxe-table--header-wrapper {
  background-color: #f0f1f3;
}

.w200 {
  width: 200px !important;
}
