<template>
  <div id="myMain" class="pt30">
    <el-row :gutter="20">
      <el-col :span="6"
        ><div class="grid-content myBR">
          <div class="left fl vertical circleBg inputColor">
            <img src="~@/assets/icon/dataStatistics4.png" />
          </div>
          <div class="right fr vertical">
            <p class="title">88956<span>套</span></p>
            <span>已入库数量</span>
          </div>
        </div></el-col
      >
      <el-col :span="6"
        ><div class="grid-content myBR">
          <div class="left fl vertical circleBg notInputColor">
            <img src="~@/assets/icon/dataStatistics1.png" />
          </div>
          <div class="right fr vertical">
            <p class="title">75246<span>套</span></p>
            <span>未入库数量</span>
          </div>
        </div></el-col
      >
      <el-col :span="6"
        ><div class="grid-content myBR">
          <div class="left fl vertical circleBg numberColor">
            <img src="~@/assets/icon/dataStatistics2.png" />
          </div>
          <div class="right fr vertical">
            <p class="title">35244<span>套</span></p>
            <span>已确权数量</span>
          </div>
        </div></el-col
      >
      <el-col :span="6"
        ><div class="grid-content myBR">
          <div class="left fl vertical circleBg notnumberColor">
            <img src="~@/assets/icon/dataStatistics3.png" />
          </div>
          <div class="right fr vertical">
            <p class="title">96725<span>套</span></p>
            <span>未确权数量</span>
          </div>
        </div></el-col
      >
    </el-row>

    <div class="f1 displayFlexR">
      <div class="f1 displayFlexC" style="margin-right:20px;">
        <placeHouse></placeHouse>
        <regionalAllocation></regionalAllocation>
      </div>
      <div class="f1 displayFlexC">
        <regionalReporting></regionalReporting>
        <houseType></houseType>
      </div>
    </div>
  </div>
</template>

<script>
import placeHouse from "@/views/house/statistics/placeHouse";
import regionalAllocation from "@/views/house/statistics/regionalAllocation";
import regionalReporting from "@/views/house/statistics/regionalReporting";
import houseType from "@/views/house/statistics/houseType";
export default {
  components: {
    placeHouse,
    regionalAllocation,
    regionalReporting,
    houseType,
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
#myMain {
  .el-row {
    margin-bottom: 20px;
  }
  .grid-content {
    background-color: #fff;
    height: 140px;
    position: relative;
    .left,
    .right {
      width: 50%;
      text-align: center;
    }
    .left {
      left: 0;
    }
    .right {
      right: 0;
    }
  }
  img {
    width: 60px;
  }
  span {
    color: #999;
  }
  p.title {
    font-family: SourceHanSansSC-regular;
    font-size: 28px !important;
    color: #6c6c6c;
    font-weight: 400;
  }
}

.circleBg {
  width: 100px !important;
  height: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 69px;
}

.inputColor {
  background-color: #f46a6e;
}
.notInputColor {
  background-color: #6c97f2;
}
.numberColor {
  background-color: #f46ea3;
}
.notnumberColor {
  background-color: #67e7a7;
}
</style>
