<template>
  <div id="myMain">
    <div class="f1 displayFlexR mt20">
      <div
        class="f1 myPadding myBR displayFlexC"
        style="background-color: white;margin-right: 20px;width:700px;"
      >
        <p class="title">
          <!-- <span class="vxe-icon--arrow-left" @click="goBack"></span> -->
          海珠区 逸景翠园
        </p>
        <houseSwiper></houseSwiper>
      </div>
      <div
        class="f1 myPadding myBR"
        style="background-color: white;padding: 20px 20px;"
      >
        <div class="displayFlexC">
          <h4>房源信息</h4>
          <div class="line">
            <span>地块名称：</span>
            <span>白云区新市街永南路AA地块</span>
          </div>
          <div class="line">
            <span>录入单位：</span>
            <span>珠江集团</span>
          </div>
          <div class="line">
            <span>账面原值：</span>
            <span>12451</span>
          </div>
          <div class="line">
            <span>评估价值：</span>
            <span>31145</span>
          </div>
          <div class="line">
            <span>办证状态：</span>
            <span>是</span>
          </div>
        </div>
        <div class="displayFlexC">
          <el-divider content-position="left"></el-divider>
          <h4>详情信息</h4>
          <div class="line single_line">
            <div class="single_line_item">
              <span>区属：</span>
              <span>白云区</span>
            </div>

            <div class="single_line_item">
              <span>小区名称：</span>
              <span>白云花园</span>
            </div>
          </div>
          <div class="line single_line">
            <div class="single_line_item">
              <span>楼号：</span>
              <span>1号楼</span>
            </div>

            <div class="single_line_item">
              <span>梯号：</span>
              <span>1梯</span>
            </div>
          </div>

          <div class="line single_line">
            <div class="single_line_item">
              <span>房号：</span>
              <span>305</span>
            </div>

            <div class="single_line_item">
              <span>房屋户型：</span>
              <span>三室一厅</span>
            </div>
          </div>

          <div class="line single_line">
            <div class="single_line_item">
              <span>套内面积：</span>
              <span>122</span>
            </div>

            <div class="single_line_item">
              <span>分摊面积：</span>
              <span>12</span>
            </div>
          </div>
          <div class="line">
            <span>总面积：</span>
            <span>47</span>
          </div>
          <div class="line">
            <span>房产证地址：</span>
            <span>白云区新市街永南路AA地块</span>
          </div>
          <div class="line">
            <span>产权证号：</span>
            <span>xxxxxxxxxxxx</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.line {
  width: 100%;
  line-height: 25px;
  clear: both;
  span {
    line-height: 25px;
    /* width: 30%; */
    float: left;
  }
  span:nth-of-type(even) {
    line-height: 25px;
    font-weight: bold;
    color: #4b4b4b;
    /* width: 15%; */
    text-align: justify;
  }
  span:nth-of-type(odd):after {
    display: inline-block;
    width: 100%;
    content: "";
  }
  span:nth-of-type(even) {
    margin-left: 5%;
  }
}
.single_line {
  display: flex;

  .single_line_item {
    display: flex;
    width: 100%;
  }
}
</style>
<script>
import houseSwiper from "@/components/houseInfoTable/houseSwiper.vue";
export default {
  components: {
    houseSwiper,
  },
  data() {
    return {
      message: "",
    };
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
  created() {},
  mounted() {},
};
</script>
