<!-- 入库房源 -->
<template>
  <div id="myMain">
    <div v-if="!alertVal1" class="myMain-padding displayFlexC myWbc">
      <div
        class="table-top"
        style="position: relative;flex-direction: column;padding: 0 20px;"
      >
        <div class="houseInfor-top-line">
          <span>区属</span>
          <el-checkbox-group
            v-model="checkedCities"
            @change="handleCheckedCitiesChangeRegion"
            class="checkedCities"
          >
            <el-checkbox v-for="city in cities" :label="city" :key="city">{{
              city
            }}</el-checkbox>
          </el-checkbox-group>
        </div>
        <div class="houseInfor-top-line">
          <span>房型</span>
          <el-checkbox-group
            v-model="checkedHouses"
            @change="handleCheckedHousesChangeHouse"
            class="checkedHouses"
          >
            <el-checkbox v-for="house in houses" :label="house" :key="house">{{
              house
            }}</el-checkbox>
          </el-checkbox-group>
        </div>
        <div class="houseInfor-top-line">
          <span>面积</span>
          <el-checkbox-group
            v-model="checkedAreas"
            @change="handleCheckedAreasChangeHouse"
            class="checkedAreas"
          >
            <el-checkbox v-for="Area in Areas" :label="Area" :key="Area">
              {{ Area }}
              {{ Area !== "40" && Area !== "144" ? "㎡" : "" }}
              {{ Area == 40 ? "㎡以下" : "" }}
              {{ Area == 144 ? "㎡以上" : "" }}</el-checkbox
            >
          </el-checkbox-group>
        </div>
        <div class="positionPager">
          <vxe-button @click="toChange"
            ><i class="iconfont icon-sign-out"></i> 发起修改</vxe-button
          >
          <vxe-button><i class="el-icon-upload2"></i> 导出</vxe-button>
        </div>
      </div>
      <el-divider content-position="left"></el-divider>
      <div class="myTable f1">
        <vxe-table
          ref="xTable"
          :show-header="false"
          :data="tableData"
          :checkbox-config="{ reserve: true }"
        >
          <vxe-table-column type="checkbox" width="60"></vxe-table-column>
          <vxe-column field="plotImg" title="" width="130px">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <img
                  :src="row.plotImg"
                  style="width: 100px;height: auto;border-radius: 5px;"
                />
              </router-link>
            </template>
          </vxe-column>
          <vxe-column field="b" title="" width="300px">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <p>{{ row.attribute }} {{ row.plotName }} {{ row.d }}</p>
                <p>
                  <span class="zhuzhai">{{ row.residenceType }}</span>
                  <span class="kongfang" v-if="row.empty == 0">空房</span>
                  <span class="yizhu" v-else>已住</span>
                  <span class="dianti">{{
                    row.empty == 0 ? "电梯" : "无电梯"
                  }}</span>
                </p>
                <p style="font-size:1.4rem;color: #999;">
                  <i class="el-icon-location"></i>{{ row.plotSite }}
                </p>
              </router-link>
            </template>
          </vxe-column>
          <vxe-column field="count1" title="">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <p>{{ row.totalArea }}㎡</p>
                <p style="font-size:1.4rem;color: #999;">
                  {{ row.orientation }}
                </p>
              </router-link>
            </template>
          </vxe-column>
          <vxe-column field="count1" title="">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <p>{{ row.name }}</p>
                <p style="font-size:1.4rem;color: #999;">
                  {{ row.residenceType }}
                </p>
              </router-link>
            </template>
          </vxe-column>
          <vxe-column field="count1" title="">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <p>{{ row.ladderNo }}层</p>
                <p style="font-size:1.4rem;color: #999;">
                  共{{ row.totalFloor }}层
                </p>
              </router-link>
            </template>
          </vxe-column>
          <vxe-column field="count1" title="">
            <template #default="{ row }">
              <router-link
                :to="{
                  path: '/house/layout_Warehouse/house_info_details',
                  query: { data: row },
                }"
              >
                <p>道扩办</p>
                <p style="font-size:1.4rem;color: #999;">权属信息</p>
              </router-link>
            </template>
          </vxe-column>
        </vxe-table>
        <!-- 分页按钮 -->

        <vxe-pager
          class="paginationBlock"
          size="mini"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :page-sizes="tablePage.pageSizes"
          :total="tablePage.totalResult"
          @page-change="pageChange"
          :layouts="[
            'Total',
            'Sizes',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'FullJump',
          ]"
        >
        </vxe-pager>
      </div>
    </div>
    <div
      v-if="alertVal1"
      style="padding: 20px 20px;
    background-color: #fff;
    margin-top: 20px;"
    >
      <inputTable1 ref="Table01"></inputTable1>

      <el-divider content-position="left"></el-divider>

      <inputTable1 ref="Table02"></inputTable1>
    </div>

    <vxe-modal
      v-model="alertVal2"
      showFooter
      width="70%"
      height="50%"
      title="选择房屋"
    >
      <template #default>
        <div class="myPadding" style="line-height: 40px;height: 50px;">
          <span class="searchLabel fl">地块名称：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchVal"
            @input="toSearch"
            prefix-icon="el-icon-search"
            style="width: 25vh;"
          ></el-input>
        </div>
        <inputTable1 ref="Table03"></inputTable1>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
const cityOptions = [
  "越秀区",
  "海珠区",
  "荔湾区",
  "天河区",
  "白云区",
  "黄埔区",
  "南沙区",
  "番禺区",
  "花都区",
  "增城区",
  "从化区",
];
const houseOptions = [
  "1房",
  "1房1厅",
  "2房1厅",
  "2房2厅",
  "3房1厅",
  "3房2厅",
  "4房以上",
];
const AreaOptions = [
  "40",
  "40-60",
  "60-80",
  "80-100",
  "100-120",
  "120-140",
  "144",
];
import inputTable1 from "@/components/houseInfoTable/table1.vue";
import { getTbCheckHousingStoredHouse } from "@/api/house";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    inputTable1,
  },
  data() {
    //这里存放数据
    return {
      searchForm: {},
      // 区属--多选框
      checkAllHouses: false,
      checkedCities: [],
      cities: cityOptions,
      isIndeterminateCities: true,
      // 房型--多选框
      checkAllCities: false,
      checkedHouses: [],
      houses: houseOptions,
      isIndeterminateHouses: true,
      // 面积--多选框
      checkAllAreas: false,
      checkedAreas: [],
      Areas: AreaOptions,
      isIndeterminateAreas: true,
      // 先选择区属才能筛选
      disabledVal: "disabled",
      // 表
      list: [
        {
          id: 1,
          a: require("@/assets/img/houseDisplay5.jpg"),
          b: "海珠区",
          c: "逸景翠园111",
          d: "9层",
          e: "901室",
          f: "东南",
          g: "普通住宅",
          h: "共12层",
          i: "220",
          j: "20",
          k: "200",
          l: "住宅",
          m: "广州市城市建设事务中心",
          n: "是",
          o: "是",
          p: "广州大道南1028号逸景翠园9楼901室",
          q: "王建军",
          r: "2020-05-26",
          s: "杜国瑛",
          t: "2020-12-25",
        },
        {
          id: 1,
          a: require("@/assets/img/houseDisplay5.jpg"),
          b: "海珠区",
          c: "逸景翠园111",
          d: "9层",
          e: "901室",
          f: "东南",
          g: "普通住宅",
          h: "共12层",
          i: "220",
          j: "20",
          k: "200",
          l: "住宅",
          m: "广州市城市建设事务中心",
          n: "是",
          o: "是",
          p: "广州大道南1028号逸景翠园9楼901室",
          q: "王建军",
          r: "2020-05-26",
          s: "杜国瑛",
          t: "2020-12-25",
        },
      ],
      tableData: [],
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 16, 24, 32],
        totalResult: 0,
      },
      alertVal1: false,
      alertVal2: false,
      explain: null,
      searchVal: null,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    // 根据页切换
    pageChange(val) {
      console.log("page val", val.currentPage, val.pageSize);
      this.tablePage.currentPage = val.currentPage;
      let page = val.currentPage;
      let limit = val.pageSize;
      this.init(this.searchForm, page, limit);
    },
    async init(obj, page, limit) {
      let res = await getTbCheckHousingStoredHouse(obj, page, limit);
      console.log("getTbCheckHousingStoredHouse", res);
      this.tableData = res.data.data;
      this.tablePage.totalResult = res.data.total;
    },
    toChange() {
      // 修改房屋
      let checkBoxList = this.$refs.xTable.getCheckboxRecords();
      if (checkBoxList.length != 0) {
        this.alertVal1 = true;
        setTimeout(() => {
          this.$refs.Table02.getData(3, "房屋信息");
          this.$refs.Table01.getData(0, "房屋信息");
        }, 100);
      } else {
        this.$message({ type: "error", message: "请至少选择一条数据!" });
      }
    },
    submit() {
      this.$confirm("是否确定修改?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        this.close();
        this.$message({ type: "success", message: "修改成功!" });
      });
    },
    close() {
      this.alertVal1 = false;
      this.alertVal2 = false;
    },
    // 选择具体房屋信息
    choose() {
      this.alertVal2 = true;
      setTimeout(() => {
        this.$refs.Table03.getData(2, "房屋信息");
      }, 100);
    },
    toSearch() {
      // 选择房屋--搜索
    },
    // 多个复选框--区属
    handleCheckedCitiesChangeRegion(value) {
      this.searchForm.attribute = value;
      this.init(this.searchForm, 1, 10);
      console.log("handleCheckedCitiesChangeRegion", value);
      let checkedCount = value.length;
      this.checkAllCities = checkedCount === this.cities.length;
      this.isIndeterminateCities =
        checkedCount > 0 && checkedCount < this.cities.length;
      this.checkAList = value;
      if (value != "") {
        this.disabledVal = false;
        this.getCheckedList();
      } else {
        this.disabledVal = true;
        this.$message({ type: "error", message: "请选择所属区！" });
        this.getAllInfo();
      }
    },
    // 多个复选框--房型
    handleCheckedHousesChangeHouse(value) {
      this.searchForm.name = value;
      this.init(this.searchForm, 1, 10);
      console.log("handleCheckedHousesChangeHouse", value);
      let checkedCount = value.length;
      this.checkAllHouses = checkedCount === this.houses.length;
      this.isIndeterminateHouses =
        checkedCount > 0 && checkedCount < this.houses.length;
      this.checkBList = value;
      if (this.checkAList != "") {
        this.getCheckedList();
      } else {
        this.$message({ type: "error", message: "请选择所属区！" });
        this.getAllInfo();
      }
    },
    // 多个复选框--面积
    handleCheckedAreasChangeHouse(value) {
      this.searchForm.total_area = value;
      this.init(this.searchForm, 1, 10);

      console.log("handleCheckedAreasChangeHouse", value);
      let checkedCount = value.length;
      this.checkAllAreas = checkedCount === this.Areas.length;
      this.isIndeterminateAreas =
        checkedCount > 0 && checkedCount < this.Areas.length;
      this.checkCList = value;
      if (this.checkAList != "") {
        this.getCheckedList();
      } else {
        this.$message({ type: "error", message: "请选择所属区！" });
        this.getAllInfo();
      }
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.init({}, 1, 10);
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}
.table-top {
  .houseInfor-top-line {
    width: 100%;
    height: 40px;
    line-height: 40px;
    clear: both;
  }
  span {
    float: left;
    margin-right: 20px;
  }
  .el-checkbox {
    width: 100px;
  }
}
.myTable {
  p {
    color: #000;
    span {
      padding: 5px 7px;
      border-radius: 3px;
      margin-right: 15px;
    }
  }
  p:first-of-type {
    font-weight: bold;
  }
  i {
    padding: 5px 8px;
    border-radius: 3px;
    margin-right: 5px;
  }
}
::v-deep .el-checkbox-group {
  display: flex;
}
</style>
