<!-- 房源接收--选择具体的房源信息 -->
<template>
  <div style="height: 100%;" class="displayFlexC">
    <div class="table-top">
      <span class="searchLabel fl">小区名称：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchVal1"
        @input="searchEvents(searchVal1, ['name'])"
        prefix-icon="el-icon-search"
      ></el-input>
      <span class="searchLabel fl">录入单位：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchVal2"
        @input="searchEvents(searchVal2, ['b'])"
        prefix-icon="el-icon-search"
      ></el-input>
    </div>
    <div class="myTable f1">
      <vxe-table
        ref="xTableDetails"
        align="center"
        highlight-hover-row
        :data="tableData"
        :export-config="{}"
        row-id="id"
        :seq-config="{
          startIndex: (tablePage.currentPage - 1) * tablePage.pageSize,
        }"
        :checkbox-config="{ reserve: true }"
      >
        <vxe-table-column type="checkbox" width="60"></vxe-table-column>
        <vxe-table-column
          type="seq"
          title="序号"
          width="100"
        ></vxe-table-column>
        <vxe-column field="name" title="地块名称"></vxe-column>
        <vxe-column field="name" title="录入单位"></vxe-column>
        <vxe-column field="name" title="区属"></vxe-column>
        <vxe-column field="role" title="小区名称（路）"></vxe-column>
        <vxe-column field="sex" title="楼号（街）"></vxe-column>
        <vxe-column field="sex" title="梯号（门牌）"></vxe-column>
        <vxe-column field="sex" title="房号"></vxe-column>
        <vxe-column field="sex" title="房产证地址"></vxe-column>
        <vxe-column field="sex" title="产权证号"></vxe-column>
        <vxe-column field="sex" title="房屋户型"></vxe-column>
        <vxe-column field="sex" title="房屋图片"></vxe-column>
        <vxe-column field="role" title="套内面积"></vxe-column>
        <vxe-column field="sex" title="公摊面积"></vxe-column>
        <vxe-column field="sex" title="总面积"></vxe-column>
        <vxe-column field="role" title="账面原值"></vxe-column>
        <vxe-column field="sex" title="评估价值"></vxe-column>
        <vxe-column field="role" title="办证状态"></vxe-column>
        <vxe-column field="sex" title="接收状态"></vxe-column>
        <vxe-table-column title="操作" width="100">
          <template #default="{ row }">
            <vxe-button
              type="text"
              icon="el-icon-delete"
              title="删除"
              class="my_danger_btn"
              @click="del(row)"
            ></vxe-button>
          </template>
        </vxe-table-column>
      </vxe-table>
      <!-- 分页 -->
      <vxe-pager
        class="paginationBlock"
        size="mini"
        :current-page="tablePage.currentPage"
        :page-size="tablePage.pageSize"
        :page-sizes="tablePage.pageSizes"
        :total="tablePage.totalResult"
        @page-change="pageChange"
        :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
      >
      </vxe-pager>
    </div>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';

export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    //这里存放数据
    return {
      searchVal1: null,
      searchVal2: null,
      list: [
        {
          name: "hhh",
          sex: "dd",
          role: "oo",
        },
        {
          name: "aaa",
          sex: "cc",
          role: "oo",
        },
      ],
      tableData: [],
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 8,
        pageSizes: [8, 16, 24, 32],
        totalResult: 0,
      },
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    // 根据页切换
    pageChange(val) {
      console.log("page val", val);
      this.tablePage.currentPage = val.currentPage;
      let page = val.currentPage;
      let limit = val.pageSize;
      // this.init(page, limit)
    },
    init() {
      this.tableData = this.list;
    },
    del(data) {
      this.$confirm("此操作将删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        //删除
        this.$message({ type: "success", message: "删除成功!" });
      });
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData = this.$search.searchEvents(
        this.list,
        searchVal,
        PropsList
      );
      // this.total = this.list1.length
    },
    // 选择的具体房屋信息
    getChooseDetails() {
      return this.$refs.xTableDetails.getCheckboxRecords();
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.init();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
</style>
