<!-- 房源录入 -->
<template>
  <div id="myMain">
    <div class="myMain-padding displayFlexC mt0" v-if="!alertVal">
      <div class="table-top jcsb">
        <div>
          <span class="searchLabel fl">接收套数：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.receive_total"
            placeholder="单行输入"
          ></el-input>
          <span class="searchLabel fl">接收面积：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.receive_area"
            placeholder="单行输入"
          ></el-input>
          <span class="searchLabel fl">账面原值：</span>
          <el-input
            class="fl inputMargin"
            v-model="searchForm.paper"
            placeholder="单行输入"
          ></el-input>
          <vxe-button class="h40 plusBtn inputMargin" @click="handleSearch">
            搜索
          </vxe-button>
        </div>

        <div>
          <vxe-button class="fr plusBtn h40" @click="add(null)"
            ><i class="vxe-icon--plus"></i> 新建</vxe-button
          >
          <vxe-button class="fr inputMargin h40" @click="exportDataEvent"
            ><i class="vxe-icon--download"></i> 导出</vxe-button
          >
        </div>
      </div>

      <div class="myTable f1">
        <vxe-table
          ref="xTable"
          align="center"
          highlight-hover-row
          :data="tableData"
          :export-config="{}"
          row-id="id"
          :seq-config="{
            startIndex: (tablePage.currentPage - 1) * tablePage.pageSize,
          }"
          :checkbox-config="{ reserve: true }"
        >
          <vxe-table-column type="checkbox" width="60"></vxe-table-column>
          <vxe-table-column field="title" title="标题">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.title }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="i" title="发起人">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.i }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="receive_total" title="接收套数">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.receive_total }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="receive_area" title="接收面积">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.receive_area }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="paper" title="账面原值">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.paper }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column field="receive_time" title="接收时间">
            <template #default="{ row }">
              <p @click="check(row)">{{ row.receive_time }}</p>
            </template>
          </vxe-table-column>
          <vxe-table-column title="操作" width="150">
            <template #default="{ row }">
              <div class="d_center">
                <img
                  class="operationBtnSize mr5"
                  src="@/assets/icon/check.svg"
                  @click="approval(row)"
                  alt=""
                />
                <img
                  class="operationBtnSize mr5"
                  src="@/assets/icon/edit.png"
                  @click="edit(row)"
                  alt=""
                />
                <img
                  class="operationBtnSize"
                  src="@/assets/icon/del.png"
                  @click="del(row)"
                  alt=""
                />
              </div>
            </template>
          </vxe-table-column>
        </vxe-table>
        <!-- 分页 -->
        <!-- <vxe-pager
          class="paginationBlock"
          perfect
          size="mini"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :page-sizes="tablePage.pageSizes"
          :total="tablePage.totalResult"
          @page-change="pageChange"
          :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
        >
          >
        </vxe-pager> -->
        <vxe-pager
          class="paginationBlock"
          size="mini"
          :current-page="tablePage.currentPage"
          :page-size="tablePage.pageSize"
          :page-sizes="tablePage.pageSizes"
          :total="tablePage.totalResult"
          @page-change="pageChange"
          :layouts="[
            'Total',
            'Sizes',
            'PrevPage',
            'JumpNumber',
            'NextPage',
            'FullJump',
          ]"
        >
        </vxe-pager>
      </div>
    </div>

    <div v-if="alertVal">
      <div class="tabbar">
        <el-tabs class="tabs" v-model="activeTab">
          <el-tab-pane label="基本信息" name="basic">
            <!-- <el-button
              size="small"
              icon="el-icon-plus"
              type="primary"
              style="position: absolute; top: 1%; right: 0;z-index: 999;"
              @click="openPlotModal"
            >
              绑定房屋
            </el-button> -->
            <!-- <Input-Table2 :bindingHouse="true" ref="Table2"></Input-Table2> -->
            <InputTable4 ref="Table4"></InputTable4>
          </el-tab-pane>
          <el-tab-pane label="房屋信息" name="house">
            <Input-Table1
              :bindingHouse="true"
              :showTotalDetail="2"
              ref="Table1"
            ></Input-Table1>
          </el-tab-pane>
        </el-tabs>
        <div class="btnLine" @click="next">
          <div class="btn">
            {{ activeTab == "basic" ? "下一步" : "完成" }}
          </div>
        </div>
      </div>
    </div>

    <vxe-modal
      v-model="plotModal"
      showFooter
      width="85%"
      height="90%"
      title="选择区属"
      @confirm="choosePlot"
    >
      <template #default>
        <div class="myPadding" style="height:calc(100% - 40px);">
          <indexTable :noOperation="true" ref="indexTable"></indexTable>
        </div>
      </template>
    </vxe-modal>

    <vxe-modal
      v-model="houseModal"
      showFooter
      width="85%"
      height="90%"
      title="选择房屋"
      @confirm="chooseHouse"
    >
      <template #default>
        <div class="myPadding" style="height:calc(100% - 40px);">
          <InputTable1
            :noOperation="true"
            :showTotalDetail="false"
            ref="chooseHouseTable"
          ></InputTable1>
        </div>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  selectplot,
  selectHouse,
  getAccept,
  deleteAccept,
  getAcceptMock,
  mockHouseReceive,
  testPanguBpm,
} from "@/api/house";
import InputTable1 from "@/components/houseInfoTable/table1.vue";
import InputTable2 from "@/components/houseInfoTable/table2.vue";
import InputTable3 from "@/components/houseInfoTable/table3.vue";
import InputTable4 from "@/components/houseInfoTable/table4.vue";
import indexTable from "@/views/house/info/indexTable.vue";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    InputTable1,
    InputTable2,
    InputTable3,
    InputTable4,
    indexTable,
  },
  data() {
    //这里存放数据
    return {
      searchVal1: null,
      searchVal2: null,
      searchVal3: null,
      list: [
        {
          name: "hhh",
          b: "dd",
          c: "oo",
        },
        {
          name: "aaa",
          b: "cc",
          c: "oo",
        },
      ],
      tableData: [],
      searchForm: {},
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30, 40],
        totalResult: 0,
      },
      // 弹窗
      alertVal: false,
      isOption: 3,
      // 选择房屋--小区
      plotModal: false,
      houseModal: false,
      chooseHouseVal: null,
      activeTab: "basic",
      tbHousing: {},
      tbPlot: {},
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    handleSearch() {
      console.log("handleSearch", this.searchForm);
      this.init({
        type: "",
        params: this.searchForm,
        page: 1,
        limit: 10,
      });
    },
    init({ type, params, page, limit }) {
      console.log("init", type, params, page, limit);
      getAccept(params, page, limit).then((res) => {
        console.log("房源录入", res);
        if (res.code == 0) {
          // this.$refs.indexTable.init(res);
          this.tableData = res.data.items;
          this.tablePage.totalResult = res.data.total;
        } else {
          this.$message({ type: "success", message: "暂无数据!" });
        }
      });
      // 房源录入
      if (type == "plot") {
        selectplot(page, limit).then((res) => {
          console.log("房源录入", res);
          if (res.code == 0) {
            this.$refs.indexTable.init(res);
          } else {
            this.$message({ type: "success", message: "暂无数据!" });
          }
        });
      }

      if (type == "house") {
        selectHouse(page, limit).then((res) => {
          if (res.code == 0) {
            this.$refs.chooseHouseTable.init(res);
          } else {
            this.$message({ type: "success", message: "暂无数据" });
          }
        });
      }
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val", val);
      this.tablePage.currentPage = val.currentPage;
      let page = val.currentPage;
      let limit = val.pageSize;
      this.init({
        type: "",
        params: this.searchForm,
        page: this.tablePage.currentPage,
        limit: this.tablePage.pageSize,
      });
    },
    async next() {
      let validBasicForm = null;
      let validTotalDetailForm = null;
      let validTable = null;
      // console.log("valid", validBasicForm, validTotalDetailForm, validTable);
      if (this.activeTab == "basic") {
        validBasicForm = this.$refs.Table2.basicFormValidator();
        if (!validBasicForm) return;
        this.activeTab = "house";
      } else {
        validTotalDetailForm = this.$refs.Table1.totalDetailFormValidator();
        validTable = await this.$refs.Table1.tableValidator();
        // console.log("validTotalDetailForm", validTotalDetailForm);
        // console.log("validTable1111", validTable);
        if (!validTotalDetailForm || !validTable) return;
        this.tbPlot = {
          ...this.$refs.Table2.basicForm,
          ...this.$refs.Table1.totalDetailForm,
        };
        this.tbHousing = this.$refs.Table1.tableData;
        if (!this.isAdd) {
          let data = await putHouseInputInfo({
            tbHousing: this.tbHousing,
            tbPlot: this.tbPlot,
          });
        } else {
          let data = await addHouseInputInfo({
            tbHousing: this.tbHousing,
            tbPlot: this.tbPlot,
          });
        }
        this.init();
        // console.log("picList", this.$refs.Table2.picList);
        this.activeTab = "basic";
        this.alertVal = false;
      }
    },
    openPlotModal() {
      console.log("openPlotModal");
      this.plotModal = true;
      this.init("plot", 1, 10);
    },
    openHouseModal() {
      console.log("openHouseModal");
      this.houseModal = true;
    },
    // init() {
    //   this.tableData = this.list;
    //   // 选择房屋
    //   // this.$refs.indexTable.init(res)
    // },
    add(data) {
      this.isOption = 0;
      this.alertVal = true;
      setTimeout(() => {
        this.$refs.Table1.getData(this.isOption, "房源接收信息表");
        this.$refs.Table4.getData(this.isOption);
      }, 100);
    },
    edit(data) {
      this.isOption = 1;
      // 将 data 传给子组件
      this.alertVal = true;
      // setTimeout(() => {
      //   this.$refs.Table1.getData(this.isOption, "房源接收信息表");
      //   this.$refs.Table2.getData(this.isOption);
      // }, 100);
    },
    check(data) {
      this.isOption = 2;
      // 没有删除 选择房屋 的按钮
      this.alertVal = true;
      // setTimeout(() => {
      //   this.$refs.Table1.getData(this.isOption, "房源接收信息表");
      //   this.$refs.Table2.getData(this.isOption);
      // }, 100);
    },
    del(row) {
      this.$confirm("此操作将删除该数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        let res = await deleteAccept(row.id);
        console.log("del", res);
        //删除
        if (res.code == 0) {
          this.$message({ type: "success", message: "删除成功!" });
          this.init({
            type: "",
            params: this.searchForm,
            page: 1,
            limit: 10,
          });
        }
      });
    },
    close() {
      this.alertVal = false;
    },
    save() {
      this.$confirm("是否保存该数据表?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 保存数据表
        this.$message({ type: "success", message: "保存成功!" });
        this.alertVal = false;
      });
    },
    // 审核
    approval(data) {
      this.$confirm("是否发送审核?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        //审核
        // let res = await testPanguBpm({
        //   defId: "house_receive:1:3095023",
        //   attachmentId: "",
        //   modelId: 39,
        //   typeTitle: "综合信息审批",
        //   formData: JSON.stringify({
        //     estate_info: {},
        //     property_info: {},
        //     house_info: {},
        //     total_detail: {},
        //   }),
        //   groupId: 66720,
        //   typeKey: "message",
        //   defKey: "house_receive",
        // });

        let res = await testPanguBpm({
          defId: "house_receive2:1:3097503",
          attachmentId: "",
          modelId: 41,
          typeTitle: "建册信息修改审批",
          formData: JSON.stringify({
            estate_info: {},
            property_info: {},
            house_info: {},
            total_detail: {},
          }),
          groupId: 66726,
          typeKey: "book_building_revise_approve",
          defKey: "house_receive2",
        });

        // let res = await testPanguBpm({
        //   defId: "house_receive3:1:3097697",
        //   attachmentId: "",
        //   modelId: 43,
        //   typeTitle: "小区信息修改审批",
        //   formData: JSON.stringify({
        //     estate_info: {},
        //     property_info: {},
        //     house_info: {},
        //     total_detail: {},
        //   }),
        //   groupId: 66725,
        //   typeKey: "estate_revise_approve",
        //   defKey: "house_receive3",
        // });

        if (res.code == 0) {
          this.$message({ type: "success", message: "申请成功!" });
        } else {
          this.$message({ type: "error", message: "申请失败!" });
        }
      });
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData = this.$search.searchEvents(
        this.list,
        searchVal,
        PropsList
      );
      // this.total = this.list1.length
    },
    // 导出
    async exportDataEvent() {
      await this.$refs.xTable.openExport({
        // 默认勾选源
        original: true,
      });
      this.$refs.xTable.clearCheckboxRow();
    },
    // 选择房屋--弹窗
    choose() {
      this.alertVal2 = true;
      setTimeout(() => {
        // indexTable 不展示该页面某些功能
        this.$refs.indexTable.getShow(false);
      }, 100);
    },
    choosePlot() {
      this.$confirm("是否添加选中的数据?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // this.chooseHouseVal = this.$refs.indexTable.getChoose();
        console.log("选中的小区房屋信息");
        this.$message({ type: "success", message: "添加成功!" });
        this.init("house", 1, 10);
        this.houseModal = true;
      });
    },
    chooseHouse() {
      // 获取子组件的选中的房屋信息--小区
      this.$confirm("是否添加选中的数据?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // this.chooseHouseVal = this.$refs.indexTable.getChoose();
        console.log("选中的小区房屋信息", chooseHouseVal);
        this.$message({ type: "success", message: "添加成功!" });
      });
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.init({ type: "", params: {}, page: 1, limit: 10 });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}

::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}

::v-deep.vxe-radio-group {
  width: 100%;
  display: flex;
}

::v-deep.vxe-radio {
  flex: 1;
}

::v-deep.vxe-radio-button > input:checked + .vxe-radio--label {
  width: 100%;
  text-align: center;
  color: #fff;
  background-color: #505976;
  border-color: #505976;
}

::v-deep.vxe-radio-button > input:hover + .vxe-radio--label {
  width: 100%;
  text-align: center;
  color: "none" !important;
}

::v-deep.vxe-radio-button .vxe-radio--label {
  width: 100%;
  height: 60px;
  line-height: 60px;
  text-align: center;
  color: #505976;
  background-color: #fff;
  border: 1px solid rgba(80, 89, 118, 100);
}

::v-deep.vxe-radio-button .vxe-radio--label:nth-child(1) {
  border-left: 0;
  border-right: 0;
}

::v-deep .el-tabs__active-bar {
  background-color: #568ce6;
  height: 4px;
}

::v-deep .el-tabs__item.is-active {
  font-family: SourceHanSansSC-regular;
  color: #484848;
  font-size: 18px !important;
}

::v-deep .el-tabs__item {
  font-family: SourceHanSansSC-regular;
  color: #a3a3a3;
  font-size: 18px !important;
}
.h40 {
  height: 40px;
}
</style>
