<!-- 小区台账表 -->
<template>
  <div class="myPadding displayFlexC">
    <div class="table-top" v-show="isCheck">
      <vxe-button class="" @click="insertEvent(-1)"
        ><i class="vxe-icon--plus myBC"></i> 插入</vxe-button
      >
      <vxe-button class="" @click="copy"
        ><i class="vxe-icon--zoomout myBC"></i> 复制行</vxe-button
      >
      <vxe-button class="" @click="del"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
      <vxe-button class="" @click="importDataEvent"
        ><i class="vxe-icon--upload myGC"></i> 导入</vxe-button
      >
    </div>
    <div class="table-top" v-show="!isCheck">
      <span class="searchLabel fl">小区名称：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchVal1"
        @input="searchEvents(searchVal1, ['a'])"
        prefix-icon="el-icon-search"
      ></el-input>
      <span class="searchLabel fl">房屋户型：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchVal2"
        @input="searchEvents(searchVal2, ['b'])"
        prefix-icon="el-icon-search"
      ></el-input>
      <span class="searchLabel fl">总面积：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchVal3"
        @input="searchEvents(searchVal3, ['b'])"
        prefix-icon="el-icon-search"
      ></el-input>
    </div>
    <vxe-table
      border
      ref="xTable2"
      align="center"
      row-id="id"
      :data="tableData"
      :edit-rules="validTableRules"
      :checkbox-config="{ reserve: true }"
      :edit-config="{ trigger: triggerVal, mode: 'cell', showIcon: false }"
    >
      <vxe-table-colgroup title="小区台账明细表">
        <vxe-table-column type="checkbox" width="60"></vxe-table-column>
        <vxe-table-column title="序号" type="seq" width="60"></vxe-table-column>
        <vxe-table-column
          field="attribute"
          title="区属"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-colgroup title="房屋信息">
          <vxe-table-column
            field="plotName"
            title="小区名称（路）"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="floorNo"
            title="楼号（街）"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="ladderNo"
            title="梯号（门牌）"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="houseNo"
            title="房号"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="site"
            title="房产证地址"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="titleDeed"
            title="产权证号"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="houseType"
            title="房屋户型"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column field="img" title="房屋图片">
            <template #default="{ row }">
              <p @click="alertVal2 = true" style="color: blue;">详情</p>
            </template>
          </vxe-table-column>
        </vxe-table-colgroup>
        <vxe-table-colgroup title="房屋面积">
          <vxe-table-column
            field="coverArea"
            title="套内面积"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="allArea"
            title="公摊面积"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="totalArea"
            title="总面积"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
        </vxe-table-colgroup>
        <vxe-table-colgroup title="房屋价值（元）">
          <vxe-table-column
            field="paper"
            title="账面原值"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
          <vxe-table-column
            field="assess"
            title="评估价值"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
        </vxe-table-colgroup>
        <vxe-table-colgroup title="房屋状态">
          <vxe-table-column
            field="cardStatus"
            title="办证状态"
            :edit-render="{ name: 'input' }"
          ></vxe-table-column>
        </vxe-table-colgroup>
      </vxe-table-colgroup>
    </vxe-table>
    <vxe-modal v-model="alertVal2" show-footer title="上传图片">
      <template #default>
        <div class="myPadding">
          <el-upload
            action="http://192.168.1.149:8877/upload/uploadFile"
            list-type="picture-card"
            ref="myUpload1"
            :on-remove="handleRemove"
            :before-upload="beforeAvatarUpload"
            :on-success="handlePictureSuccess"
            :file-list="picList"
            :disabled="disabledVal"
          >
            <i class="el-icon-plus"></i>
            <div slot="tip" class="el-upload__tip">
              上传的图片只能是 JPG 或者 PNG 格式!
            </div>
          </el-upload>
        </div>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';

export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    //这里存放数据
    return {
      triggerVal: "",
      tableData: [],
      validTableRules: {
        allArea: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        assess: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        attribute: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        cardStatus: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        coverArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        enteringTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        floorNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        houseNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        houseType: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        img: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        ladderNo: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        paper: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        plotName: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        site: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        titleDeed: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        totalArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
      },
      isCheck: null,
      searchVal1: null,
      searchVal2: null,
      searchVal3: null,
      alertVal2: false,
      disabledVal: false,
      fileList: [],
      addedRow: {
        allArea: "",
        assess: "",
        attribute: "",
        cardStatus: "",
        coverArea: "",
        enteringTime: "",
        floorNo: "",
        houseNo: "",
        houseType: "",
        img: "",
        ladderNo: "",
        paper: "",
        plotName: "",
        site: "",
        titleDeed: "",
        totalArea: "",
        picList: [],
      },
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    async tableValidator() {
      let result = null;
      const $table = this.$refs.xTable2;
      const errMap = await $table.validate(true).catch((e) => e);
      if (errMap) {
        result = false;
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      } else {
        result = true;
        console.log("____true", errMap, result);
        // this.$XModal.message({ status: "error", content: "校验通过！" });
      }
      return result;
    },
    getData(data, flag) {
      this.isCheck = flag;
      console.log("row data", data, flag);
      if (flag == true) {
        // 新增、修改
        this.tableData = data;
        // this.tableData.push(data);
        this.triggerVal = "click";
      } else {
        // 查看
        this.tableData.push(data);
        this.triggerVal = "";
      }
    },
    async insertEvent(row) {
      const $table = this.$refs.xTable2;
      const record = this.addedRow;
      const { row: newRow } = await $table.insertAt(record, row);
      await $table.setActiveCell(newRow, "name");
      // 获取表数据
      this.tableData = this.$refs.xTable2.getTableData().tableData;
    },
    del() {
      if (this.$refs.xTable2.getCheckboxRecords().length != 0) {
        this.$confirm("此操作将删除数据, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(() => {
          // 删除 tableData1
          // this.$refs.xTable2.removeCheckboxRow()
          this.$message({ type: "success", message: "删除成功!" });
          this.$refs.xTable2.removeCheckboxRow();
        });
      } else {
        this.$message({ type: "error", message: "请选择需要删除的数据!" });
      }
    },
    delAll() {
      // 删除数据库全数据
      this.$confirm("此操作将删除全部数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 删除 tableData1
        this.$message({ type: "success", message: "删除成功!" });
      });
    },
    copy() {
      if (this.$refs.xTable2.getCheckboxRecords().length == 1) {
        // 复制并插入
        let copyLine = this.$refs.xTable2.getCheckboxRecords()[0];
        this.$refs.xTable2.insertAt(copyLine, -1);
        this.$refs.xTable2.clearCheckboxRow();
        this.$message({ type: "success", message: "复制成功!" });
      } else {
        this.$message({ type: "error", message: "有且只能选择一条数据行!" });
      }
    },
    importDataEvent() {
      this.$refs.xTable2.importData();
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData2 = this.$search.searchEvents(
        this.tableData2,
        searchVal,
        PropsList
      );
    },
    // 上传图片
    handleRemove(file, fileList) {
      console.log(file, fileList);
      this.fileList = fileList;
    },
    beforeAvatarUpload(file) {
      //   const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      //   if (!isJPG) {
      //     this.$message.error('上传的图片只能是 JPG 或者 PNG 格式!');
      //   }
      //   return isJPG;
    },
    handlePictureSuccess(res, file) {
      let _this = this;
      res.data.forEach((ele) => {
        _this.picList.push({ url: ele });
      });
      this.$set(this.tableData, "img", this.picList);
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
</style>
