<!-- 自有物业台账表 -->
<template>
  <div class="myPadding displayFlexC">
    <div class="table-top" v-show="isCheck">
      <vxe-button class="" @click="insertEvent(-1)"
        ><i class="vxe-icon--plus myBC"></i> 插入</vxe-button
      >
      <vxe-button class="" @click="copy"
        ><i class="vxe-icon--zoomout myBC"></i> 复制行</vxe-button
      >
      <vxe-button class="" @click="del()"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
      <vxe-button class="" @click="importDataEvent"
        ><i class="vxe-icon--upload myGC"></i> 导入</vxe-button
      >
    </div>
    <div class="table-top" v-show="!isCheck">
      <span class="searchLabel fl">地址：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchVal1"
        @input="searchEvents(searchVal1, ['a'])"
        prefix-icon="el-icon-search"
      ></el-input>
      <span class="searchLabel fl">产权证号：</span>
      <el-input
        class="fl inputMargin"
        v-model="searchVal2"
        @input="searchEvents(searchVal2, ['b'])"
        prefix-icon="el-icon-search"
      ></el-input>
    </div>
    <vxe-table
      border
      row-id="id"
      ref="xTable2"
      align="center"
      :data="tableData"
      :edit-rules="validTableRules"
      :checkbox-config="{ reserve: true }"
      :edit-config="{ trigger: triggerVal, mode: 'cell', showIcon: false }"
    >
      <vxe-table-colgroup title="自有物业明细表">
        <vxe-table-column type="checkbox" width="60"></vxe-table-column>
        <vxe-table-column title="序号" type="seq" width="60"></vxe-table-column>
        <vxe-table-column
          field="site"
          title="地址"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="titleDeed"
          title="产权证号"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="purpose"
          title="用途"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="totalArea"
          title="建筑总面积"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="selfUse"
          title="自用"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="lease"
          title="出租"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="ldle"
          title="闲置"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="remark"
          title="备注"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
        <vxe-table-column
          field="enteringTime"
          title="录入时间"
          :edit-render="{ name: 'input' }"
        ></vxe-table-column>
      </vxe-table-colgroup>
    </vxe-table>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';

export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    //这里存放数据
    return {
      triggerVal: "",
      tableData: [],
      validTableRules: {
        enteringTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        ldle: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        lease: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        purpose: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        remark: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        selfUse: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        site: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        siteDetail: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        allArea: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        totalArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        titleDeed: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        totalArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
      },
      isCheck: null,
      searchVal1: null,
      searchVal2: null,
      addedRow: {
        enteringTime: "",
        id: 0,
        ldle: "",
        lease: "",
        purpose: "",
        remark: "",
        selfUse: "",
        site: "",
        siteDetail: "",
        titleDeed: "",
        totalArea: "",
      },
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    async tableValidator() {
      let result = null;
      const $table = this.$refs.xTable2;
      const errMap = await $table.validate(true).catch((e) => e);
      if (errMap) {
        result = false;
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      } else {
        result = true;
        console.log("____true", errMap, result);
        // this.$XModal.message({ status: "error", content: "校验通过！" });
      }
      return result;
    },
    getData(data, flag) {
      this.isCheck = flag;
      console.log("getData...", data);
      // this.tableData = data;
      if (flag == true) {
        // 新增、修改
        this.tableData = data;

        this.triggerVal = "click";
      } else {
        // 查看
        this.tableData.push(data);
        this.triggerVal = "";
      }
      console.log("row data", data, flag, this.tableData);
    },
    async insertEvent(row) {
      const $table = this.$refs.xTable2;
      const record = this.addedRow;
      const { row: newRow } = await $table.insertAt(record, row);
      await $table.setActiveCell(newRow, "name");
      // 获取表数据
      this.tableData = this.$refs.xTable2.getTableData().tableData;
    },
    del() {
      if (this.$refs.xTable2.getCheckboxRecords().length != 0) {
        // this.$XModal.confirm("您确定要删除该数据?").then((type) => {
        //   const $table = this.$refs.xTable2;
        //   if (type === "confirm") {
        //     $table.remove(row);
        //     // 获取表数据
        //     this.tableData = this.$refs.xTable2.getTableData().tableData;
        //     this.$message({ type: "success", message: "删除成功!" });
        //   }
        // });
        this.$XModal.confirm("您确定要删除该数据?").then((type) => {
          // 删除 tableData1
          this.$refs.xTable2.removeCheckboxRow();
          this.$message({ type: "success", message: "删除成功!" });

          // this.$refs.xTable2.clearCheckboxRow();
        });
      } else {
        this.$message({ type: "error", message: "请选择需要删除的数据!" });
      }
    },
    delAll() {
      // 删除数据库全数据
      this.$confirm("此操作将删除全部数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 删除 tableData1
        this.$message({ type: "success", message: "删除成功!" });
      });
    },
    copy() {
      if (this.$refs.xTable2.getCheckboxRecords().length == 1) {
        // 复制并插入
        let copyLine = this.$refs.xTable2.getCheckboxRecords()[0];
        this.$refs.xTable2.insertAt(copyLine, -1);
        this.$refs.xTable2.clearCheckboxRow();
        this.$message({ type: "success", message: "复制成功!" });
      } else {
        this.$message({ type: "error", message: "有且只能选择一条数据行!" });
      }
    },
    importDataEvent() {
      this.$refs.xTable2.importData();
    },
    // 搜索
    searchEvents(searchVal, PropsList) {
      this.tableData2 = this.$search.searchEvents(
        this.tableData2,
        searchVal,
        PropsList
      );
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
</style>
