<!-- 录入表 -->
<template>
  <div class="">
    <h4 v-if="showTopBar">房屋信息</h4>
    <div
      class="table-action"
      v-show="(isOption == 1 || isOption == 0) && showTopBar"
    >
      <vxe-button class="" @click="insertEvent(-1)"
        ><i class="vxe-icon--plus myBC"></i> 插入</vxe-button
      >
      <vxe-button class="" @click="copy"
        ><i class="vxe-icon--zoomout myBC"></i> 复制行</vxe-button
      >
      <vxe-button class="" @click="del"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
      <vxe-button class="" @click="importDataEvent"
        ><i class="vxe-icon--upload myGC"></i> 导入</vxe-button
      >
    </div>
    <div class="table-top" v-show="isOption == 3 && showTopBar">
      <vxe-button class="" @click="del"
        ><i class="el-icon-delete myRC"></i> 删除行</vxe-button
      >
      <vxe-button class="" @click="delAll"
        ><i class="el-icon-delete myRC"></i> 删除全部</vxe-button
      >
    </div>
    <!-- 搜索栏 -->
    <div class="table-top" v-if="showSearchBar == 1">
      <span class="searchLabel fl">小区名称：</span>
      <!-- <el-input class="fl inputMargin" v-model="searchVal1" @input="searchEvents(searchVal1, ['plotName'])" prefix-icon="el-icon-search"></el-input> -->
      <el-input
        class="fl inputMargin"
        v-model="plotName"
        placeholder="单行输入"
        @input="searchEvents(searchVal1, ['plotName'])"
      ></el-input>
      <span class="searchLabel fl">录入单位：</span>
      <el-input
        class="fl inputMargin"
        v-model="inputUnit"
        placeholder="单行输入"
        @input="searchEvents(searchVal2, ['unit'])"
      ></el-input>

      <vxe-button class="h40 plusBtn inputMargin" @click="importDataEvent">
        搜索
      </vxe-button>
    </div>

    <div class="table-top" v-if="showSearchBar == 2">
      <span class="searchLabel fl">地块名称：</span>
      <!-- <el-input class="fl inputMargin" v-model="searchVal1" @input="searchEvents(searchVal1, ['plotName'])" prefix-icon="el-icon-search"></el-input> -->
      <el-input
        class="fl inputMargin"
        v-model="plotName"
        placeholder="单行输入"
        @input="searchEvents(searchVal1, ['plotName'])"
      ></el-input>
      <span class="searchLabel fl">总面积：</span>
      <el-input
        class="fl inputMargin"
        v-model="inputUnit"
        placeholder="单行输入"
        @input="searchEvents(searchVal2, ['unit'])"
      ></el-input>

      <vxe-button class="h40 plusBtn inputMargin" @click="">
        搜索
      </vxe-button>
    </div>

    <vxe-table
      row-id="id"
      auto-resize
      resizable
      stripe
      ref="inputTable"
      align="center"
      :data="tableData"
      max-height="400"
      :checkbox-config="{ reserve: true }"
      :edit-rules="validTableRules"
      :edit-config="{ trigger: 'click', mode: 'cell', showIcon: false }"
    >
      <vxe-table-column
        v-if="showTopBar || showSearchBar == 2"
        type="checkbox"
        width="60"
      ></vxe-table-column>
      <vxe-column title="序号" type="seq" width="102"></vxe-column>
      <vxe-column
        field="lotName"
        title="地块名称1"
        width="102"
        :edit-render="{ name: 'input' }"
      ></vxe-column>
      <vxe-table-colgroup width="665" title="房屋信息">
        <vxe-column
          field="floorNo"
          title="楼号（街）"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="ladderNo"
          title="梯号（门牌）"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="houseNo"
          title="房号"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="site"
          title="房产证地址"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="propertyNo"
          title="产权证号"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="houseType"
          title="房屋户型"
          width="102"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column field="img" title="房屋图片" width="102">
          <template #default="{ row }">
            <p
              class=""
              @click="toUpload(row)"
              style="color: blue;"
              v-if="isOption == 1"
            >
              上传
            </p>
            <p v-else @click="toDetails(row)" style="color: blue;">详情</p>
          </template>
        </vxe-column>
      </vxe-table-colgroup>
      <vxe-table-colgroup width="285" title="房屋面积">
        <vxe-column
          field="coverArea"
          title="套内面积"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="allArea"
          title="公摊面积"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="totalArea"
          title="总面积"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
      </vxe-table-colgroup>
      <vxe-table-colgroup width="190" title="房屋价值（元）">
        <vxe-column
          field="paper"
          title="账面原值"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          field="assess"
          title="评估价值"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
      </vxe-table-colgroup>
      <vxe-table-colgroup width="202" title="房屋状态">
        <vxe-column
          field="cardStatus"
          title="办证状态"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
        <vxe-column
          v-if="showTopBar"
          field="receiveStatus"
          title="接收状态"
          width="80"
          :edit-render="{ name: 'input' }"
        ></vxe-column>
      </vxe-table-colgroup>
    </vxe-table>
    <!-- 分页 -->
    <vxe-pager
      class="paginationBlock"
      size="mini"
      :current-page="tablePage.currentPage"
      :page-size="tablePage.pageSize"
      :page-sizes="tablePage.pageSizes"
      :total="tablePage.totalResult"
      @page-change="pageChange"
      :layouts="['PrevPage', 'JumpNumber', 'NextPage', 'FullJump', 'Total']"
    >
    </vxe-pager>

    <el-form
      v-if="
        showTotalDetail == 1 || isOption == 0 || isOption == 1 || isOption == 2
      "
      :model="totalDetailForm"
      :rules="totalDetailFormRules"
      ref="totalDetailForm"
    >
      <h4>总数详情</h4>
      <table class="myTableForm">
        <tr>
          <td>实际设计总套数</td>
          <td>
            <el-form-item prop="realityTotal">
              <el-input
                v-model="totalDetailForm.realityTotal"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
          <td>规划设计总套数</td>
          <td>
            <el-form-item prop="planTotal">
              <el-input
                v-model="totalDetailForm.planTotal"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
          <td>实际移交总套数</td>
          <td>
            <el-form-item prop="turnTotal">
              <el-input
                v-model="totalDetailForm.turnTotal"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
        </tr>
        <tr>
          <td>合同约定时间</td>
          <td>
            <el-form-item prop="appointTime">
              <el-input
                v-model="totalDetailForm.appointTime"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
          <td>实际竣工时间</td>
          <td>
            <el-form-item prop="becTime">
              <el-input
                v-model="totalDetailForm.becTime"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
          <td>预计实物移交时间</td>
          <td>
            <el-form-item prop="planTime">
              <el-input
                v-model="totalDetailForm.planTime"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
        </tr>
        <tr>
          <td>录入时间</td>
          <td>
            <el-form-item prop="enteringTime">
              <el-input
                v-model="totalDetailForm.enteringTime"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </table>
    </el-form>

    <el-form
      v-if="showTotalDetail == 2"
      :model="receiveForm"
      :rules="receiveFormRules"
      ref="receiveForm"
    >
      <h4>总数详情</h4>
      <table class="myTableForm">
        <tr>
          <td>接收总套数</td>
          <td>
            <el-form-item prop="realityTotal">
              <el-input
                v-model="totalDetailForm.realityTotal"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
          <td>接收总面积</td>
          <td>
            <el-form-item prop="planTotal">
              <el-input
                v-model="totalDetailForm.planTotal"
                placeholder="单行输入"
              ></el-input>
            </el-form-item>
          </td>
        </tr>
      </table>
    </el-form>
    <vxe-modal
      v-model="alertVal01"
      title="图片上传"
      @confirm="closeUpload"
      @close="closeUpload"
    >
      <template #default>
        <div class="">
          <el-upload
            action="http://192.168.1.123:8877/upload/uploadFile"
            list-type="picture-card"
            :on-remove="handleRemove"
            :before-upload="beforeAvatarUpload"
            :on-success="handleAvatarSuccess"
            :file-list="fileList1"
            :disabled="disabledVal"
          >
            <i class="el-icon-plus"></i>
          </el-upload>
          <div class="mt15">
            <el-button
              class="fr"
              type="primary"
              size="mini"
              @click="alertVal01 = false"
              >确认</el-button
            >
          </div>
        </div>
      </template>
    </vxe-modal>

    <!-- <div
      style="width: 100%; text-align: right; margin-top: 214px;"
      @click="$emit('next', { state: 'basic' })"
    >
      <div
        style="float: right; color: #fff;border-radius: 4px; margin-bottom: 10px; width: 111px; height: 40px; text-align: center; line-height: 40px; background-color: #505976"
      >
        {{ activeTab == "basic" ? "下一步" : "完成" }}
      </div>
    </div> -->
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import { getHouseInputInfoById } from "@/api/house";
import pub from "@/views/house/info/Input/public.js";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  props: {
    showTotalDetail: true,
    showTopBar: true,
    showSearchBar: false,
  },
  data() {
    //这里存放数据
    return {
      plotName: "",
      inputUnit: "",
      totalDetailForm: {},
      totalDetailFormRules: {
        realityTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        planTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        turnTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        appointTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        becTime: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        planTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        enteringTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
      },
      receiveForm: {},
      receiveFormRules: {
        realityTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        planTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        turnTotal: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        appointTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        becTime: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        planTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        enteringTime: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
      },
      validTableRules: {
        floorNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        ladderNo: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        houseNo: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        site: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        propertyNo: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        houseType: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        img: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        coverArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        allArea: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        totalArea: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        paper: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        assess: [{ required: true, message: "此字段为必填", trigger: "blur" }],
        cardStatus: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
        receiveStatus: [
          { required: true, message: "此字段为必填", trigger: "blur" },
        ],
      },
      // 查看就不可以编辑
      triggerVal: "",
      addedRow: {
        id: 1,
        floorNo: null,
        ladderNo: null,
        houseNo: null,
        site: null,
        propertyNo: null,
        houseType: null,
        img: null,
        coverArea: null,
        allArea: null,
        totalArea: null,
        paper: null,
        assess: null,
        cardStatus: null,
        receiveStatus: null,
      },
      tableData: [],
      disabledVal: false,
      // 分页
      tablePage: {
        currentPage: 1,
        pageSize: 10,
        pageSizes: [10, 20, 30, 40],
        totalResult: 0,
      },
      isOption: null,
      // 上传图片弹窗
      alertVal01: false,
      fileList1: [],
      rowData: null,
      rowDataId: null,
      currentRowId: null,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    totalDetailFormValidator() {
      let state = null;
      this.$refs["totalDetailForm"].validate((valid) => {
        if (valid) {
          state = true;
        } else {
          console.log("error!!");
          state = false;
        }
      });
      console.log("table1 Validator", state);
      return state;
    },

    async tableValidator() {
      let result = null;
      const $table = this.$refs.inputTable;
      const errMap = await $table.validate(true).catch((e) => e);
      if (errMap) {
        result = false;
        this.$XModal.message({ status: "error", content: "校验不通过！" });
      } else {
        result = true;
        console.log("____true", errMap, result);
        // this.$XModal.message({ status: "error", content: "校验通过！" });
      }
      return result;
    },
    // 根据页切换
    pageChange(val) {
      console.log("page val", val);
      this.tablePage.currentPage = val.currentPage;
      let page = val.currentPage;
      let limit = val.pageSize;
      // 调用父组件方法
      this.getById(page, limit);
      this.tablePage.totalResult = this.tableData.length;
      this.tableData = this.tableData.slice(
        (this.tablePage.currentPage - 1) * this.tablePage.pageSize,
        this.tablePage.currentPage * this.tablePage.pageSize
      );
    },
    init(data) {
      console.log("table1接收父组件传过来的值 indexTable", data);
      this.list = data.data;
      this.tableData = this.list;
      this.tablePage.totalResult = data.count;
      // 房源录入 房屋和小区信息的 弹出单条信息
      if (this.rowData == null) {
        // 新增
        this.tableData1 = [];
        this.tablePage.totalResult = 0;
        // 传小区信息给 index  isAdd=1 是新增
        pub.$emit("tbPlotInfo", { tbPlot: this.row, isAdd: 1 });
      } else {
        // 修改 查看
        this.getById(this.tablePage.currentPage, this.tablePage.pageSize);
      }
    },
    getById(page, limit) {
      // 单条信息查找
      getHouseInputInfoById(page, limit, this.rowDataId).then((res) => {
        console.log("table 1 2 3 res", res);
        this.tableData = res.tbHousing.data;
        this.tablePage.totalResult = res.tbHousing.count;
        // 传小区信息给 table2 table3  isAdd=0 不是新增
        pub.$emit("tbPlotInfo", { tbPlot: res.tbPlot, isAdd: 0 });
      });
    },
    async insertEvent(row) {
      const $table = this.$refs.inputTable;
      const record = this.addedRow;
      const { row: newRow } = await $table.insertAt(record, row);
      await $table.setActiveCell(newRow, "lotName");
      // 获取表数据
      this.tableData = this.$refs.inputTable.getTableData().tableData;
    },
    del() {
      if (this.$refs.inputTable1.getCheckboxRecords().length != 0) {
        this.$confirm("此操作将删除数据, 是否继续?", "提示", {
          confirmButtonText: "确定",
          cancelButtonText: "取消",
          type: "warning",
        }).then(() => {
          this.$refs.inputTable1.removeCheckboxRow();
          // 获取表数据
          this.tableData = this.$refs.inputTable.getTableData().tableData;
          this.$message({ type: "success", message: "删除成功!" });
          this.$refs.inputTable1.clearCheckboxRow();
        });
      } else {
        this.$message({ type: "error", message: "请选择需要删除的数据!" });
      }
    },
    delAll() {
      // 删除数据库全数据
      this.$confirm("此操作将删除全部数据, 是否继续?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(() => {
        // 删除 tableData1
        this.tableData = [];
        this.$message({ type: "success", message: "删除成功!" });
      });
    },
    async copy() {
      if (this.$refs.inputTable.getCheckboxRecords().length == 1) {
        // 复制并插入
        let copyLine = this.$refs.inputTable.getCheckboxRecords()[0];
        await this.$refs.inputTable.insertAt(copyLine, -1);
        // 获取表数据
        this.tableData = this.$refs.inputTable.getTableData().tableData;
        this.$refs.inputTable.clearCheckboxRow();
        this.$message({ type: "success", message: "复制成功!" });
      } else {
        this.$message({ type: "error", message: "有且只能选择一条数据行!" });
      }
    },
    importDataEvent() {
      this.$refs.inputTable1.importData();
    },
    // 上传图片
    handleRemove(file, fileList) {
      console.log(file, fileList);
      this.fileList1 = fileList;
    },
    beforeAvatarUpload(file) {
      //   const isJPG = file.type === 'image/jpeg' || file.type === 'image/png';
      //   if (!isJPG) {
      //     this.$message.error('上传的图片只能是 JPG 或者 PNG 格式!');
      //   }
      //   return isJPG;
    },
    handleAvatarSuccess(res, file) {
      console.log("res");
      res.data.forEach((ele) => {
        this.fileList1.push({ url: ele });
      });
      // 处理图片
      for (let i = 0; i < this.tableData.length; i++) {
        if (this.tableData[i].id == this.currentRowId) {
          let arr1 = [];
          this.fileList1.forEach((ele) => {
            arr1.push(ele.url);
          });
          this.tableData[i].img = arr1.join(",");
        }
      }
    },
    // 房源接收   房源信息审核详情 和 入库审核详情 和 入库房源修改审批
    getData(num, data) {
      console.log("table1.vue getData", num, data, this.showTotalDetail);
      this.isOption = num;
      if (data) {
        console.log("if (!data)");
        this.tableData = data.tbHousing.data;

        if (this.showTotalDetail == 1) this.totalDetailForm = data.tbPlot;
        if (this.showTotalDetail == 2) this.receiveForm = data.tbPlot;
      }
      // this.myTableTitle = title;
      if (this.isOption == 1) {
        this.triggerVal = "click";
      } else {
        this.triggerVal = "";
      }
    },
    toUpload(rowData) {
      this.disabledVal = false;
      this.myUpload(rowData);
    },
    toDetails(rowData) {
      // this.disabledVal = true;
      this.myUpload(rowData);
    },
    myUpload(rowData) {
      this.fileList1 = [];
      this.currentRowId = rowData.id;
      this.alertVal01 = true;
      // 处理图片
      for (let i = 0; i < this.tableData.length; i++) {
        if (
          this.tableData[i].id == this.currentRowId &&
          this.tableData[i].img != null
        ) {
          let img = this.tableData[i].img.split(",");
          img.forEach((ele) => {
            this.fileList1.push({ url: ele });
          });
        }
      }
    },
    closeUpload() {
      this.fileList1 = [];
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    // 用$on事件来接收参数
    pub.$on("rowData", (rowData) => {
      // 接收组件A传过来的数据
      this.myTableTitle = rowData.myTableTitle;
      this.isOption = rowData.isOption;
      this.rowData = rowData.rowData;
      if (this.rowData != null) {
        this.rowDataId = rowData.rowData.id;
      }
      if (this.isOption == 1) {
        this.triggerVal = "click";
      } else {
        this.triggerVal = "";
      }
      this.init();
    });
    // 接收 table1 传的信息
    pub.$on("tbPlotInfo", (data) => {
      console.log("tbPlot1111111", data.tbPlot);
      if (data.tbPlot) this.totalDetailForm = data.tbPlot;
      if (this.totalDetailForm.plotImg != null) {
        // 处理图片
        let myPlotImg = this.totalDetailForm.plotImg.split(",");
        myPlotImg.forEach((ele) => {
          this.picList = [{ url: ele }];
        });
      }
    });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类

.myTableForm {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  border: 1px solid #dcdcdc;
}

.myTableForm td,
.myTableForm th {
  padding: 0;
  height: 60px;
  line-height: 60px;
  border-left: 1px solid #dfdfdf;
  border-right: 1px solid #dfdfdf;
}
.myTableForm th {
  text-align: left;
  background-color: #8a8d81;
  color: #ffffff;
}
.myTableForm tr:nth-child(odd) {
  background-color: #f7f7f7;
}

.myTableForm td:nth-child(odd) {
  text-align: right;
  padding-right: 5px;
}
.myTableForm td {
  width: 16%;
  height: 60px;
  line-height: 60px;
}
::v-deep .el-form-item {
  margin-bottom: 0;
}

::v-deep .el-form-item__error {
  display: none;
  top: 25%;
  left: 23px;
}
::v-deep .el-input {
  text-align: center;
}
::v-deep .el-input__inner {
  /* margin: 0 9px; */
  width: 90%;
}

::v-deep .vxe-button.type--button:not(.is--round) {
  width: 100px;
  height: 40px;
  border-radius: 26px;
}

::v-deep .vxe-button {
  margin-right: 20px;
  margin-left: 0;
}

::v-deep .vxe-header--column .vxe-cell--title {
  line-height: 1.5;
  font-size: 15px !important;
  font-weight: normal;
}

::v-deep .vxe-header--column .vxe-cell--required-icon {
  display: none;
}

::v-deep .vxe-table--render-default .vxe-cell {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}
::v-deep .vxe-modal--wrapper .vxe-modal--header {
  border-bottom: 0;
  background-color: #fff;
  border-radius: 0;
}

::v-deep .el-upload-list--picture-card .el-upload-list__item {
  width: 80px;
  height: 80px;
  border-radius: 0;
  border: 1px solid #fff;
}
::v-deep .el-upload--picture-card {
  width: 80px;
  height: 80px;
  line-height: 80px;
  border-radius: 0;
  background-color: #fff;
  border: 1px solid #c0ccda;
}
</style>
