<!--  -->
<template>
  <div class="myPadding">
    <vxe-table
      border
      auto-resize
      recalculate
      row-id="id"
      align="center"
      :data="tableData3"
      :edit-config="{ trigger: triggerVal, mode: 'cell', showIcon: false }"
    >
      <vxe-column
        field="realityTotal"
        title="实际设计总套数"
        :edit-render="{ name: 'input' }"
      ></vxe-column>
      <vxe-column
        field="planTotal"
        title="规划设计总套数"
        :edit-render="{ name: 'input' }"
      ></vxe-column>
      <vxe-column
        field="turnTotal"
        title="实际移交总套数"
        :edit-render="{ name: 'input' }"
      ></vxe-column>
      <vxe-column
        field="appointTime"
        title="合同约定时间"
        :edit-render="{ name: 'input' }"
      ></vxe-column>
      <vxe-column
        field="becTime"
        title="实际竣工实际"
        :edit-render="{ name: 'input' }"
      ></vxe-column>
      <vxe-column
        field="planTime"
        title="预计实物移交时间"
        :edit-render="{ name: 'input' }"
      ></vxe-column>
      <vxe-column
        field="enteringTime"
        title="录入时间"
        :edit-render="{ name: 'input' }"
      ></vxe-column>
    </vxe-table>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import pub from "@/views/house/info/Input/public.js";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    //这里存放数据
    return {
      tableData3: [
        {
          id: 0,
          realityTotal: null,
          planTotal: null,
          turnTotal: null,
          appointTime: null,
          becTime: null,
          planTime: null,
          enteringTime: null,
        },
      ],
      triggerVal: "",
      rowId: null,
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    // init(data){
    //     // console.log('父组件传过来的值 table3', data)
    // },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    // 用$on事件来接收参数
    pub.$on("rowData", (rowData) => {
      // 接收组件A传过来的数据
      if (rowData.isOption == 1) {
        this.triggerVal = "click";
      } else {
        this.triggerVal = "";
      }
    });
    // 接收 table1 传的信息
    pub.$on("tbPlotInfo", (data) => {
      console.log("tbPlot3333333", data.tbPlot);
      this.rowId = data.tbPlot.id;
      let tbPlot = data.tbPlot;
      let obj = {};
      for (let key in tbPlot) {
        if (
          key == "realityTotal" ||
          key == "planTotal" ||
          key == "turnTotal" ||
          key == "appointTime" ||
          key == "becTime" ||
          key == "planTime" ||
          key == "enteringTime"
        ) {
          obj[key] = tbPlot[key];
        }
      }
      this.tableData3 = [obj];
    });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
</style>
