<template>
  <div id="myMain">
    <div class="f1 mt20">
      <div class="displayFlexR" style="margin-bottom: 20px;">
        <div
          class="f1 myPadding myBR displayFlexC"
          style="background-color: white;margin-right: 20px;width:700px;"
        >
          <p class="title">
            <!-- <span class="vxe-icon--arrow-left" @click="goBack"></span> -->
            海珠区 逸景翠园
          </p>
          <houseSwiper></houseSwiper>
        </div>
        <div
          class="f1 myPadding myBR"
          style="background-color: white;padding: 20px 20px;"
        >
          <div class="displayFlexC">
            <h4>小区信息</h4>
            <div class="line single_line">
              <div class="single_line_item">
                <span>区属：</span>
                <span>白云区</span>
              </div>
              <div class="single_line_item">
                <span>占地面积：</span>
                <span>21121</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>小区名称：</span>
                <span>白云花园</span>
              </div>
              <div class="single_line_item">
                <span>物业公司：</span>
                <span>中海物业</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>小区地址：</span>
                <span>广州白云区白云大道111号</span>
              </div>
              <div class="single_line_item">
                <span>物业类型：</span>
                <span>住宅</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>小区类型：</span>
                <span>普通住宅</span>
              </div>
              <div class="single_line_item">
                <span>联系人：</span>
                <span>张权</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>建筑面积：</span>
                <span>2141</span>
              </div>
              <div class="single_line_item">
                <span>联系方式：</span>
                <span>1780210121</span>
              </div>
            </div>
          </div>
          <el-divider></el-divider>
          <div class="displayFlexC">
            <h4>房屋信息</h4>
            <div class="line single_line">
              <div class="single_line_item">
                <span>房屋数量：</span>
                <span>1200</span>
              </div>
              <div class="single_line_item">
                <span>1室1厅：</span>
                <span>21</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>房屋总面积：</span>
                <span>21032</span>
              </div>
              <div class="single_line_item">
                <span>2室1厅：</span>
                <span>20</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>账面原值：</span>
                <span>32145</span>
              </div>
              <div class="single_line_item">
                <span>2室2厅：</span>
                <span>32</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>容积率：</span>
                <span>5%</span>
              </div>
              <div class="single_line_item">
                <span>3室1厅：</span>
                <span>65</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>绿化率：</span>
                <span>8%</span>
              </div>
              <div class="single_line_item">
                <span>3室2厅：</span>
                <span>45</span>
              </div>
            </div>
            <div class="line single_line">
              <div class="single_line_item">
                <span>建设完成日期：</span>
                <span>2020-03-11</span>
              </div>
              <div class="single_line_item">
                <span>4室以上：</span>
                <span>52</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
        class="myPadding myBR"
        style="background-color: white;height: 700px;"
      >
        <myLine></myLine>
      </div>
    </div>
  </div>
</template>
<style lang="scss">
.line {
  width: 100%;
  line-height: 25px;
  clear: both;
  span {
    line-height: 25px;
    /* width: 30%; */
    float: left;
  }
  span:nth-of-type(even) {
    line-height: 25px;
    font-weight: bold;
    color: #4b4b4b;
    /* width: 15%; */
    text-align: justify;
  }
  span:nth-of-type(odd):after {
    display: inline-block;
    width: 100%;
    content: "";
  }
  span:nth-of-type(even) {
    margin-left: 5%;
  }
}
.single_line {
  display: flex;

  .single_line_item {
    display: flex;
    width: 100%;
  }
}
</style>
<script>
import houseSwiper from "@/components/houseInfoTable/houseSwiper.vue";
import myLine from "@/views/house/community/info/line.vue";
export default {
  components: {
    houseSwiper,
    myLine,
  },
  data() {
    return {
      message: "",
    };
  },
  methods: {
    goBack() {
      this.$router.go(-1);
    },
  },
  created() {},
  mounted() {},
};
</script>
