<template>
    <div id="communityDetails-four">
        <div class="communityDetails-four-top">
            <span class="MTitle">小区位置</span>
            <el-input v-model="searchVal" placeholder="请输入起点">
                <el-button slot="append" icon="el-icon-search" @click="seartchRoute"></el-button>
            </el-input>
            <span>起点：</span>
        </div>
        <div id="container1"></div>
        <div id="panel"></div>
    </div>
</template>
<style lang="scss" scoped>
#communityDetails-four{
    width: 100%;
    height: 100%;
    position: relative;
    .communityDetails-four-top{
        width: 100%;
        span{
            float: left;
            font-size: 1.6rem;
            line-height: 3rem;
        }
        span:nth-of-type(2){
            float: right;
            margin-right: 15px;
            line-height: 40px;
        }
        .el-input{
            width: 25vh;
            float: right;
        }
    }
    
    #container1{
        width: 100%;
        height: calc( 100% - 40px);
    }
    #panel{
        width: 25%;
        height: calc( 100% - 40px);
        overflow: auto;
        background-color: #fff;
        border-radius: 5px;
        position: absolute;
        top: 42px;
        right: 0;
        ::v-deep.amap-call {
            background-color: #009cf9;
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
        }
        ::v-deep.amap-lib-transfer {
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
            overflow: hidden;
        }
    }

}
</style>
<script>
export default {
    data(){
        return{
            searchVal: '天河城',
            map: null,
            transfer: null,
        }
    },
    mounted(){
        const _this = this
        // 使用异步导入js文件
        window.onLoad  = function(){
            //初始化地图
            // 创建AMap.Map对象时如果没有传入center参数，您会发现地图将自动定位到您所在城市并显示
            var map = new AMap.Map('container1', {
                zoom:11,//级别
                // center: [118.871, 31.328],//初始化时候中心点坐标
                viewMode:'3D',//使用3D视图
                resizeEnable: true
            });
            this.map = map;
            // 创建一个 点标记 实例：
            var marker1 = new AMap.Marker({
                content: '<p><i class="el-icon-location" style="color:RGB(88,138,245);font-size:2rem;"></i></p>',
                position: new AMap.LngLat(118.871, 31.328),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
                title: '标题1'
            });
            map.add(marker1);
            // 信息窗体的内容
            var content = [
                '<div style="width:65px; height:15px;position:relative; background-color:RGB(88,138,245);border-radius: 5px;padding:10px;box-shadow: 0px 0px 10px #666;z-index: 999;top: -5px;">',
                    '<div style="position:absolute; width:30px; height:30px; bottom:-25px; left:34.5%;z-index: 998;">',
                        '<span style="display:block; border-width:15px; position:absolute; border-style:solid dashed dashed dashed; font-size:0; line-height:0;border-color:RGB(88,138,245) transparent transparent; top:-3px;"></span>',
                    '</div>',
                    '<p style="text-align: left;font-size:1.6rem;position: absolute;top: 5px;color:#fff;">名雅花园</p>',
                '</div>'
            ];
            var title = '测试的标题！！！'
            // 实现自定义窗体内容，返回拼接后的字符串
            function createInfoWindow (title, content){
                // html内容拼接 ...
                return content;
            }
            // 创建 infoWindow 实例	
            var infoWindow = new AMap.InfoWindow({
                isCustom: true,  //使用自定义窗体
                // 窗体的偏移量
                offset: new AMap.Pixel(0, -20),
                content: createInfoWindow(title,content.join("<br>")),  //传入 dom 对象，或者 html 字符串
            });
            // 在指定位置打开已创建的信息窗体
            var position = new AMap.LngLat(118.871, 31.328);
            infoWindow.open(map, position);

            // 公交地铁路线
            AMap.service('AMap.Transfer',function(){
                //构造公交换乘类
                var transfer = new AMap.Transfer({
                    map: map,
                    city: '广州市',
                    panel: 'panel',                           
                    policy: AMap.TransferPolicy.LEAST_TIME //乘车策略
                });
                _this.transfer = transfer;
            })

            //根据默认的起点绘制路线
            _this.seartchRoute()
        }
        var key = 'b92f9cad19c7e06befc979cec3a07388';
        var url = `https://webapi.amap.com/maps?v=1.4.15&key=${key}&callback=onLoad`;
        var jsapi = document.createElement('script');
        jsapi.charset = 'utf-8';
        jsapi.src = url;
        document.head.appendChild(jsapi);
        var cssurl = `https://a.amap.com/jsapi_demos/static/demo-center/css/demo-center.css`;
        var cssapi = document.createElement('style');
        cssapi.src = cssurl;
        document.head.appendChild(cssapi);
        
    },
    methods:{
        //根据用户输入的起点绘制路线
        seartchRoute(){
            let searchVal = this.searchVal
            //根据起、终点名称查询公交换乘路线
            let transfer = this.transfer
            transfer.search([
                // 起点是用户输入的内容
                {keyword: searchVal,city:'广州'},
                // {keyword: '地震局',city:'北京'},
                //第一个元素city缺省时取transOptions的city属性
                {keyword: '华景新城',city:'广州'}
                //第二个元素city缺省时取transOptions的cityd属性
            ], 
            function(status, result) {
                // result即是对应的公交路线数据信息，相关数据结构文档请参考  https://lbs.amap.com/api/javascript-api/reference/route-search#m_TransferResult
                if (status === 'complete') {
                    console.log('绘制公交路线完成')
                } else {
                    console.log('公交路线数据查询失败' + result)
                }
            });
        }
    }
}
</script>