<!-- 小区台账 -->
<template>
  <div id="myMain">
    <div class="myMain-padding displayFlexC">
      <div class="table-top">
        <vxe-button class="fl plusBtn" @click="add(null)"
          ><i class="vxe-icon--plus"></i> 新建</vxe-button
        >
        <vxe-button class="fl" @click="exportDataEvent"
          ><i class="vxe-icon--download myGC"></i> 导出</vxe-button
        >
        <vxe-button class="fl" @click="importDataEvent"
          ><i class="vxe-icon--upload myGC"></i> 导入</vxe-button
        >
      </div>
      <div class="f1 displayFlexR">
        <div
          class="boxShadow myPadding myWbc"
          style="width:250px;margin-right:20px;"
        >
          <p
            class="baseBG myBR"
            style="margin: 0;padding: 5px 10px;line-height: 30px;text-align: center;"
          >
            年份
          </p>
          <ul>
            <li
              v-for="(item, key) in yearList"
              :key="key"
              @click="ck(item)"
              :class="[{ active: activeName == item }]"
            >
              {{ item }}
            </li>
          </ul>
        </div>
        <div class="f1 myPadding myWbc">
          <vxe-table
            border
            ref="xTable"
            align="center"
            :data="tableData"
            :checkbox-config="{ reserve: true }"
            show-footer
            :footer-method="footerMethod"
          >
            <vxe-table-column type="checkbox" width="60"></vxe-table-column>
            <vxe-table-column field="attribute" title="区属"></vxe-table-column>
            <vxe-table-column
              field="plotName"
              title="小区名称"
            ></vxe-table-column>
            <vxe-table-column
              field="totalArea"
              title="总面积"
            ></vxe-table-column>
            <vxe-table-column field="paper" title="账面原值"></vxe-table-column>
            <vxe-table-column field="e" title="办证数量"></vxe-table-column>
            <vxe-table-column title="操作" width="150">
              <template #default="{ row }">
                <div class="d_center">
                  <img
                    class="operationBtnSize mr5"
                    src="@/assets/icon/ze-description.svg"
                    @click="check(row)"
                    alt=""
                  />
                  <img
                    class="operationBtnSize"
                    src="@/assets/icon/antOutline-edit.svg"
                    @click="edit(row)"
                    alt=""
                  />
                </div>
              </template>
            </vxe-table-column>
          </vxe-table>
        </div>
      </div>
    </div>
    <vxe-modal
      v-model="alertVal1"
      width="100%"
      height="100%"
      :showHeader="false"
      :showFooter="false"
    >
      <template #default>
        <div class="plusBtn myPadding">
          <vxe-button class="" @click="save"
            ><i class="vxe-icon--check myGC"></i> 保存</vxe-button
          >
          <vxe-button class="" @click="close"
            ><i class="vxe-icon--close myRC"></i> 关闭</vxe-button
          >
        </div>
        <standingBookTable3 ref="sbt3"></standingBookTable3>
      </template>
    </vxe-modal>
  </div>
</template>

<script>
//这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
//例如：import 《组件名称》 from '《组件路径》';
import {
  getYears,
  getTbRegion,
  addTbRegion,
  updateTbRegion,
  deleteTbTenement,
  selectTbRegion,
} from "@/api/house";
import standingBookTable3 from "@/components/houseInfoTable/standingBookTable3.vue";
export default {
  //import引入的组件需要注入到对象中才能使用
  components: {
    standingBookTable3,
  },
  data() {
    //这里存放数据
    return {
      yearList: ["2021", "2020", "2019", "2018"],
      activeName: "2021",
      tableData: [],
      alertVal1: false,
      action: "",
    };
  },
  //监听属性 类似于data概念
  computed: {},
  //监控data中的数据变化
  watch: {},
  //方法集合
  methods: {
    async getYearsList() {
      this.yearList = await getYears();
    },
    async getTbRegionData(year) {
      this.tableData = await getTbRegion(year);
    },
    add(data) {
      // 新增弹窗
      this.alertVal1 = true;
      this.action = "add";
      setTimeout(() => {
        this.$refs.sbt3.getData(data, true);
      }, 100);
    },
    async edit(data) {
      this.alertVal1 = true;
      this.action = "edit";
      let purpose = data.attribute;
      let enteringTime = this.activeName;
      let res = await selectTbRegion({}, null, null, enteringTime, purpose);
      console.log("check11", res.data);
      setTimeout(() => {
        this.$refs.sbt3.getData(res.data, true);
      }, 100);
    },
    check(data) {
      this.alertVal1 = true;
      setTimeout(() => {
        this.$refs.sbt3.getData(data, false);
      }, 100);
    },
    ck(item) {
      this.activeName = item;
      if (this.activeName == "") {
        console.log(this.activeName);
      } else if (this.activeName == "2021") {
        console.log(this.activeName);
      } else {
        console.log(this.activeName);
      }
      this.getTbRegionData(item);
    },
    sumNum(list, field) {
      let count = 0;
      list.forEach((item) => {
        count += Number(item[field]);
      });
      return count;
    },

    footerMethod({ columns, data }) {
      return [
        columns.map((column, columnIndex) => {
          if (columnIndex === 0) {
            return "合计";
          }
          if (["totalArea", "paper"].includes(column.property)) {
            return this.sumNum(data, column.property);
          }
          return null;
        }),
      ];
    },
    // 导出
    async exportDataEvent() {
      await this.$refs.xTable.openExport({
        // 默认勾选源
        original: true,
      });
      this.$refs.xTable.clearCheckboxRow();
    },
    importDataEvent() {
      this.$refs.xTable.importData();
    },
    close() {
      this.alertVal1 = false;
    },
    save() {
      this.$confirm("是否保存该数据表?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      }).then(async () => {
        // 保存数据表
        let tbRegion = this.$refs.sbt3.tableData;
        let validTable = null;
        validTable = await this.$refs.sbt3.tableValidator();
        if (!validTable) return;
        if (this.action == "add") {
          addTbRegion(tbRegion).then(async (res) => {
            console.log("save tbRegion", tbRegion, res);
            if (res.code == 0) {
              this.$message({ type: "success", message: "保存成功!" });
              this.getTbRegionData(this.activeName);
              this.alertVal1 = false;
              this.action = "";
            }
          });
        }

        if (this.action == "edit") {
          updateTbRegion(tbRegion).then((res) => {
            console.log("edit tbRegion", res);
            if (res.code == 0) {
              this.$message({ type: "success", message: "修改成功!" });
              this.getTbRegionData(this.activeName);
              this.alertVal1 = false;
              this.action = "";
            }
          });
        }
      });
    },
  },
  //生命周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.getYearsList();
    this.getTbRegionData(this.activeName);
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //生命周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁完成
  activated() {}, //如果页面有keep-alive缓存功能，这个函数会触发
};
</script>
<style lang="scss" scoped>
//@import url(); 引入公共css类
ul {
  margin: 0;
  padding: 0;
}
li {
  text-align: center;
  margin: 0;
  padding: 0;
  line-height: 35px;
  cursor: pointer;
}
li:hover {
  background-color: #eaeaea;
}
li.active {
  background-color: #eaeaea;
}
::v-deep.vxe-modal--wrapper .vxe-modal--content {
  padding: 0;
}
</style>
