<!-- 菜单管理 -->
<template>
  <div class="app-container">
    <div class="app-form">
      <el-form
        ref="tablePage"
        :inline="true"
        :model="tablePage"
      >
        <el-form-item label="菜单名称" prop="name">
          <el-input v-model="tablePage.name" size="small" clearable @keyup.enter.native="screening" />
        </el-form-item>
        <el-form-item style="margin-left:25px;">
          <el-button type="primary" size="small" @click="screening">查询</el-button>
          <el-button type="default" size="small" @click="reset('tablePage')">重置</el-button>
          <el-button type="success" size="small" @click="add">新建</el-button>
        </el-form-item>
      </el-form>
      <!-- 表格部分 须放在mytablebox盒子下面自定义样式才有效果 -->
      <div class="mytablebox">
        <vxe-table
          ref="xTree"
          border
          resizable
          auto-resize
          sync-resize
          height="auto"
          :loading="loading"
          :tree-config="{children: 'children'}"
          :data="tableData"
        >
          <vxe-table-column field="name" title="菜单名称" tree-node />
          <vxe-table-column field="path" title="菜单路径" />
          <vxe-table-column field="createTime" formatter="formatDate" title="创建时间" />
          <vxe-table-column field="sort" title="排序" />
          <vxe-table-column title="操作" show-overflow>
            <template #default="{ row }">
              <vxe-button status="primary" content="编辑" size="small" @click="update(row)" />
              <vxe-button status="danger" content="删除" size="small" @click="del(row)" />
            </template>
          </vxe-table-column>
          <template #empty>
            <span style="color: red;">
              <p>没有更多数据了！</p>
            </span>
          </template>
        </vxe-table>
      </div>
    </div>
    <el-dialog
      :title="dialogTitle?'新增':'修改'"
      :visible.sync="dialogVisible"
      :close-on-click-modal="false"
      width="30%"
      :show-close="false"
    >
      <el-form ref="form" :rules="rules" :model="form" label-width="80px">
        <el-form-item label="上级菜单" prop="parentId">
          <el-select v-model="form.parentId" placeholder="不选默认顶级菜单" style="width:100%">
            <el-option label="顶级菜单" :value="-1" />
            <el-option
              v-for="item in tableData"
              :key="item.id"
              :label="item.name"
              :value="parseInt(item.id)"
            />
          </el-select>
        </el-form-item>
        <el-form-item label="菜单名称" prop="name">
          <el-input v-model="form.name" placeholder="最多输入50个字符" />
        </el-form-item>
        <el-form-item label="菜单路径" prop="path">
          <el-input v-model="form.path" placeholder="最多输入255个字符" />
        </el-form-item>
        <el-form-item label="排序" prop="sort">
          <el-input v-model.number="form.sort" placeholder="只能输入正整数, 最大999" />
        </el-form-item>
        <div style="text-align: center;">
          <el-button type="default" @click="reset('form')">取消</el-button>
          <el-button type="primary" @click="submitForm('form')">{{ dialogTitle?'新增':'修改' }}</el-button>
        </div>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
// 这里可以导入其他文件（比如：组件，工具js，第三方插件js，json文件，图片文件等等）
// 例如：import 《组件名称》 from '《组件路径》';
import { menu_findAlls, saveOrUpdate } from '@/api/get'
import { menu_delete } from '@/api/del'
export default {
// import引入的组件需要注入到对象中才能使用
  components: {},
  data() {
    const validateSort = (rule, value, callback) => {
      if (!value) {
        callback()
        return
      }
      if (!Number.isInteger(value)) {
        callback(new Error('请输入数字值'))
      } else {
        if (value < 1 || value > 999) {
          callback(new Error('大小在 1 到 999 之间'))
        } else {
          callback()
        }
      }
    }
    // 这里存放数据
    return {
      tablePage: {
        page: 1,
        limit: 10,
        total: 0,
        name: null
      },
      tableData: [
      ],
      parentData: [
      ],
      dialogVisible: false,
      dialogTitle: true,
      loading: false,
      form: {
        id: null,
        parentId: null,
        name: null,
        sort: null,
        path: null
      },
      rules: {
        parentId: { required: true, message: '请选择上级菜单', trigger: 'change' },
        name: { required: true, message: '请输入菜单名称', trigger: 'blur' },
        sort: [
          { validator: validateSort, trigger: 'blur' }
        ],
        path: [
          { required: true, message: '请输入菜单路径', trigger: 'blur' },
          { min: 2, max: 255, message: '长度在 2 到 255 个字符', trigger: 'blur' }
        ]
      }
    }
  },
  // 监听属性 类似于data概念
  computed: {},
  // 监控data中的数据变化
  watch: {},
  // 生命周期 - 创建完成（可以访问当前this实例）
  created() {
    this.init()
  },
  // 生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
  },
  beforeCreate() {}, // 生命周期 - 创建之前
  beforeMount() {}, // 生命周期 - 挂载之前
  beforeUpdate() {}, // 生命周期 - 更新之前
  updated() {}, // 生命周期 - 更新之后
  beforeDestroy() {}, // 生命周期 - 销毁之前
  destroyed() {}, // 生命周期 - 销毁完成
  activated() {},
  // 方法集合
  methods: {
    init() {
      this.menu_findAlls_api()
    },
    menu_findAlls_api() {
      this.loading = true
      menu_findAlls().then(res => {
        this.tableData = res
        this.loading = false
      })
    },
    // 筛选
    screening() {
      this.tablePage.page = 1
      this.init()
    },
    // 取消
    reset(formName) {
      this.$refs[formName].resetFields()
      this.dialogVisible = false
    },
    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          saveOrUpdate(this.form).then(res => {
            this.dialogVisible = false
            this.init()
            this.$notify({
              title: '成功',
              message: '操作成功',
              type: 'success',
              duration: 2000
            })
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    add() {
      this.dialogTitle = true
      this.form = {
      }
      this.dialogVisible = true
    },
    del(row) {
      this.$confirm('此操作将永久删除选中数据, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // if (row.children.length > 0) {
        //   this.$message({
        //     type: 'warning',
        //     message: '该菜单有子级不能删除'
        //   })
        //   return false
        // }
        menu_delete(row.id).then(res => {
          this.init()
          console.log(res)
          this.$message({
            type: 'success',
            message: '删除成功!'
          })
        })
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    handlePageChange({ currentPage, pageSize }) {
      this.tablePage.page = currentPage
      this.tablePage.limit = pageSize
      this.init()
    },
    update(row) {
      this.form = Object.assign({}, this.form, row)
      this.dialogVisible = true
      this.dialogTitle = false
    },
    clickSwitch(row) {
      this.$confirm('确认要' + (row.f ? '下架' : '上架') + '菜单【' + row.name + '】吗？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$message({
          type: 'success',
          message: (row.f ? '下架' : '上架') + '成功!'
        })
        row.f = !row.f
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消' + (row.f ? '下架' : '上架')
        })
      })
    }
  } // 如果页面有keep-alive缓存功能，这个函数会触发
}
</script>
<style lang='scss' scoped>
//@import url(); 引入公共css类
.app-container{
  display: flex;
}
</style>
