<template>
  <div id="app" class="crx1 other1">
    <router-view />
  </div>
</template>

<script>
export default {
  name: "App",
  methods: {
    initBreadcrumb() {
      let crumbNodes = document.querySelector(".el-breadcrumb__separator");
      console.log("initBreadcrumb", crumbNodes);
    },
  },
  created() {
    this.initBreadcrumb();
  },
};
</script>
<style lang="scss">
// 菜单
#app .sidebar-container .el-submenu .el-menu-item {
  background-color: rgba(31, 45, 61, 0.7) !important;
}
.nest-menu {
  line-height: 14px;
}
.nest-menu .nest-menu {
  height: 50px !important;
  line-height: 50px !important;
}
// @import '@/styles/all.scss';
@import "@/styles/my-initialization.scss";
</style>
