<template>
  <div id="login">
    <div class="loginHeader">
      <div class="center displayFlexR">
        <div class="left fl">
          <img src="~@/assets/img/logo.png" style="width: 60px" />
        </div>
        <div class="right fl bCenter">
          <span class="HomeTitle colorWhite1"
            >广州市城市建设事务中心2020年配建政府性房源综合业务管理系统</span
          ><br />
          <span class="HomeTitleSub"
            >Accessories government housing comprehensive business management
            platform</span
          >
        </div>
      </div>
    </div>
    <div class="loginForm">
      <el-form ref="Form" :model="loginForms" :rules="loginRules">
        <el-form-item prop="username">
          <el-input v-model="loginForms.username">
            <template slot="prepend"><i class="el-icon-user"></i></template>
          </el-input>
        </el-form-item>
        <el-form-item prop="password">
          <el-input
            v-model="loginForms.password"
            :type="pwdType"
            placeholder="请输入密码"
            @keyup.enter.native="submit"
          >
            <template slot="prepend"><i class="el-icon-goods"></i></template>
            <template slot="suffix"
              ><i class="el-icon-view" @click="showPwd"></i
            ></template>
          </el-input>
        </el-form-item>
        <el-button :loading="loading" round @click.native.prevent="submit"
          >登陆</el-button
        >
      </el-form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      loginForms: {
        username: "admin",
        password: "123456",
      },
      loginRules: {
        username: [
          { required: true, trigger: "blur", message: "用户名不能为空" },
        ],
        password: [
          { required: true, trigger: "blur", message: "密码不能为空" },
        ],
      },
      pwdType: "password",
      loading: false,
    };
  },
  methods: {
    showPwd() {
      this.pwdType === "password"
        ? (this.pwdType = "")
        : (this.pwdType = "password");
      let e = document.getElementsByClassName("el-icon-view")[0];
      this.pwdType == ""
        ? e.setAttribute("style", "color: #409EFF")
        : e.setAttribute("style", "color: #c0c4cc");
    },
    // 登录
    submit() {
      this.$refs.Form.validate((valid) => {
        if (valid) {
          this.loading = true;
          this.$store
            .dispatch("user/login", this.loginForms)
            .then(() => {
              this.loading = false;
              this.$router.push({ path: this.redirect || "/" });
            })
            .catch(() => {
              this.loading = false;
            });
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
  },
};
</script>
<style lang="scss" scoped>
#login {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("~@/assets/img/login_bg.png");
  background-size: cover;
  .loginHeader {
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.3);
    .center {
      width: 98%;
      margin-left: 2%;
      .left {
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        img {
          // 图片居中--父元素设line-height，text-align
          vertical-align: middle;
        }
      }
      .right {
        flex: 1;
        span {
          font-size: 20px !important;
          color: white;
          line-height: 24px;
        }
      }
    }
  }
  .loginForm {
    width: 22%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: calc(50% - 100px);
    left: 50%;
    transform: translate(-50%);
    padding: 3%;
    border-radius: 5px;
    .el-form {
      width: 100%;
      ::v-deep.el-input-group__prepend {
        background-color: rgba(0, 0, 0, 0.3) !important;
        i {
          color: #fff;
          font-size: 1.6rem;
        }
      }
      .el-button {
        width: 50%;
        border: none;
        display: block;
        margin: 0 auto;
      }
      .el-button.is-round {
        border-radius: 5px;
      }
      .el-button:hover {
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
      }
      .el-icon-view {
        line-height: 40px;
      }
    }
  }
}
</style>
